@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@{
    ViewBag.Title = "Requisitos";
}

@* Todo: validar nombre y método del controlador *@
@using (Html.BeginForm("UploadFiles", "RadianApproved", FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
{
<div class="panel-body padding-20 padding-bottom-10">
    <div class="row radian-subtitle-container radian-certificates">
        <div class="col-sm-10">
            <p class="subtitle-view">
                @ViewBag.title
            </p>
        </div>
        <div class="col-sm-2">
            <a class="show-history"><u class="green-text"><i class="fa fa-history"></i> Ver Historial</u></a>
        </div>
    </div>
    <div class="row radian-subtitle-line"></div>
    @Html.Partial("_documentStates")
    <div class="row">
        @{ int i = 0;}
        <div class="col-sm-8 padding-xs-0">
            @if (Model.Step == 1)
            {
                foreach (var n in Model.FilesRequires)
                {
                    <div class="inputs-dinamics">
                        <div class="form-group file-input-enabled margin-bottom-20">
                            <p class="radian-file-top-label">@n.Name</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input radian-file" data-typeId="@n.Id" name="file-@i" accept="application/pdf" @(n.Mandatory ? "required" : "") />
                                <label class="custom-file-label radian-file-label" for="customFile">Seleccionar archivo (máx10mb)</label>
                            </div>
                        </div>

                        <div class="form-group file-input-disabled init-hide">
                            <p class="radian-file-top-label">@n.Name</p>
                            @Html.TextBox("file-" + i, @n.Name, new { @class = "form-control input-general", @readonly = true })
                            <span class="file-size"></span>
                            <div id="progress-wrp">
                                <div class="progress-bar"></div>
                            </div>
                            <span class="close">x</span>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
</div>
    <div class="text-left">
        <div class="form-group">
            <button name="Submit" class="btn btn-primary btn-radian-success submit-button">Enviar</button>
            <button type="button" class="btn btn-secondary btn-radian-default cancel-register">Cancelar registro</button>
        </div>
    </div>

}

