@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@{
    ViewBag.Title = "Requisitos";
}

@using (Html.BeginForm("GetFactorOperationMode", "RadianApproved", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Nit);
    @Html.HiddenFor(m => m.Name);
    @Html.HiddenFor(m => m.BusinessName);
    @Html.HiddenFor(m => m.Email);
    @Html.HiddenFor(m => m.Step);
    @Html.HiddenFor(m => m.Nit);
    @Html.HiddenFor(m => m.FilesRequires);
    @Html.HiddenFor(m => m.Customers);
    @Html.HiddenFor(m => m.RadianContributorTypeId);
    @Html.HiddenFor(m => m.ContributorId);


    <div class="panel-body padding-20 padding-bottom-10">
        <div class="row radian-subtitle-container radian-certificates">
            <div class="col-sm-10">
                <p class="subtitle-view">
                    @ViewBag.title
                </p>
            </div>
            <div class="col-sm-2">
                <a class="show-history"><u class="green-text"><i class="fa fa-history"></i> Ver Historial</u></a>
            </div>
        </div>
        <div class="row radian-subtitle-line"></div>
        @Html.Partial("_documentStates")
        <div class="row">
            @{ int i = 0;}
            @foreach (var n in Model.Files)
            {
            <div class="form-group file-input-disabled">
                <p class="radian-file-top-label">@n.RadianContributorFileType.Name</p>
                @Html.TextBox("file-" + i, n.FileName, new { @class = "form-control input-general", @readonly = true })
                <span class="state-file status-@n.Status"></span>
            </div>
                i++;
            }
        </div>
    </div>
    <div class="text-left">
        <div class="form-group">
            <button name="Submit" class="btn btn-primary btn-radian-success" id="view-operation-mode">Configurar modos de operación</button>
            @if (@Model.RadianContributorTypeId != 1)
            {
                <button type="button" class="btn btn-secondary btn-radian-default" id="view-costumers">Ver mis clientes asociados</button>
            }
        </div>
    </div>
}
