@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
<div class="panel-body" style="background: white;">
    <div class="row">
        @using (Html.BeginForm("GetSetTestResult", "RadianApproved", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Nit);
            @Html.HiddenFor(m => m.Name);
            @Html.HiddenFor(m => m.BusinessName);
            @Html.HiddenFor(m => m.Email);
            @Html.HiddenFor(m => m.Step);
            @Html.HiddenFor(m => m.Nit);
            @Html.HiddenFor(m => m.FilesRequires);
            @Html.HiddenFor(m => m.Customers);
            @Html.HiddenFor(m => m.RadianContributorTypeId);
            @Html.HiddenFor(m => m.Contributor.RadianContributorId); 
            @Html.HiddenFor(m => m.Contributor.RadianOperationModeId);
            @Html.HiddenFor(m => m.ContributorId);
            @Html.HiddenFor(m => m.SoftwareType);

            <div class="text-left">
                <button type="submit" class="btn btn-success btn-radian-success">Set de pruebas</button>
            </div>
        }
    </div>
</div>
