@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@using help = Gosocket.Dian.Domain.Common;

@{
    ViewBag.title = "Detalle de Set de Pruebas - Propios Medios";
    string status = "";
    switch (Model.RadianTestSetResult.Status)
    {
        case (int)help.TestSetStatus.InProcess:
            status = "En Proceso";
            break;
        case (int)help.TestSetStatus.Accepted:
            status = "Aceptado";
            break;
        case (int)help.TestSetStatus.Rejected:
            status = "Rechazado";
            break;

    }
}

<div class="page-content radian-view margin-15">
    <div class="title-container">
        <div class="back-button">
            <a href="@Url.Action("GetSetTestResult", "RadianApproved",
                                         new {
                                             RadianContributorId = Model.Contributor.RadianContributorId,
                                             Nit = Model.Nit,
                                             ContributorId = Model.ContributorId,
                                             RadianState = Model.RadianState,
                                             RadianContributorTypeId = Model.RadianContributorTypeId,
                                             SoftwareId = Model.Software.Id,
                                             SoftwareType = Model.SoftwareType,
                                             OperationMode = Model.Contributor.RadianOperationModeId
                                         })"><i class="fa fa-chevron-left"></i> Volver</a>
        </div>
    </div>
    <div class="margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row warning-wrapper">
                    <div class="col-sm-1 icon-warning">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="col-sm-11">
                        <span class="warning-title">¡Importante!</span>
                        <p>
                            Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuenta <b>@status</b>.<br>
                            Usted debe proporcinar el identificador del set de pruebas (TestSetld) <b>@Model.RadianTestSetResult.Id</b> en el web service  para el envío de su set de pruebas.
                        </p>
                    </div>
                </div>
                <div class="row margin-horizontal-0">
                    <p class="title-view" style="padding-top: 5px">
                        Resumen documentos recibidos y aceptados para el Set de Pruebas
                    </p>
                    <div class="underline-title underline-title-grey"></div>

                    <figure class="highcharts-figure-settest">
                        <div id="setTestDetails"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(document).ready(function () {



            var nit = '@Model.Nit';
            var idTestSet = '@Model.RadianTestSetResult.Id';

            $.ajax({
                url: '@Url.Action("RadianTestResultByNit", "RadianApproved")',
                type: "POST",
                data: {
                    nit: nit,
                    idTestSet: idTestSet
                },
                error: function (error) { },
                success: function (response) {
                    showChart(response);
                }
            });

            function showChart(data) {
                var dataChart = data.data;
                Highcharts.chart('setTestDetails', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        alternateGridColor: '#EBEEEC',
                        categories: [
                            'Documentos',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Received))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Receipt))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Accepted))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.AceptacionTacita))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Rejected))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Avales))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Mandato))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.TerminacionMandato))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.SolicitudDisponibilizacion)))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.EndosoPropiedad))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.InvoiceOfferedForNegotiation))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.NotificacionPagoTotalParcial))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.AnulacionLimitacionCirculacion))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.EndosoGarantia))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.EndosoProcuracion))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.NegotiatedInvoice))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.ValInfoPago))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.EndorsementWithEffectOrdinaryAssignment))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.Objection))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.TransferEconomicRights))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.NotificationDebtorOfTransferEconomicRights))',
                            '@Html.Raw(help.EnumHelper.GetDescription(help.EventStatus.PaymentOfTransferEconomicRights))'
                        ],
                        labels: {
                            step: 1
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    legend: {
                        align: 'right',
                        verticalAlign: 'top',
                        x: 0,
                        y: 15
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal',
                            borderRadius: 8
                        }
                    },
                    series: [
                        {
                            name: 'Requeridos',
                            color: '#6A197D',
                            data: [
                                dataChart.TotalDocumentRequired,
                                dataChart.ReceiptNoticeTotalRequired,
                                dataChart.ReceiptServiceTotalRequired,
                                dataChart.ExpressAcceptanceTotalRequired,
                                dataChart.AutomaticAcceptanceTotalRequired,
                                dataChart.RejectInvoiceTotalRequired,
                                dataChart.GuaranteeTotalRequired,
                                dataChart.ElectronicMandateTotalRequired,
                                dataChart.EndMandateTotalRequired,
                                dataChart.ApplicationAvailableTotalRequired,
                                dataChart.EndorsementPropertyTotalRequired,
                                dataChart.EndorsementCancellationTotalRequired,
                                dataChart.PaymentNotificationTotalRequired,
                                dataChart.EndCirculationLimitationTotalRequired,
                                dataChart.EndorsementGuaranteeTotalRequired,
                                dataChart.EndorsementProcurementTotalRequired,
                                dataChart.CirculationLimitationTotalRequired,
                                dataChart.ReportForPaymentTotalRequired,
                                dataChart.EndorsementWithEffectOrdinaryAssignmentTotalRequired,
                                dataChart.ObjectionTotalRequired,
                                dataChart.TransferEconomicRightsTotalRequired,
                                dataChart.NotificationDebtorOfTransferEconomicRightsTotalRequired,
                                dataChart.PaymentOfTransferEconomicRightsTotalRequired
                            ]
                        },
                        {
                            name: 'Min requerido aceptado',
                            color: '#D9F489',
                            data: [
                                dataChart.TotalDocumentAcceptedRequired,
                                dataChart.ReceiptNoticeTotalAcceptedRequired,
                                dataChart.ReceiptServiceTotalAcceptedRequired,
                                dataChart.ExpressAcceptanceTotalAcceptedRequired,
                                dataChart.AutomaticAcceptanceTotalAcceptedRequired,
                                dataChart.RejectInvoiceTotalAcceptedRequired,
                                dataChart.GuaranteeTotalAcceptedRequired,
                                dataChart.ElectronicMandateTotalAcceptedRequired,
                                dataChart.EndMandateTotalAcceptedRequired,
                                dataChart.ApplicationAvailableTotalAcceptedRequired,
                                dataChart.EndorsementPropertyTotalAcceptedRequired,
                                dataChart.EndorsementCancellationTotalAcceptedRequired,
                                dataChart.PaymentNotificationTotalAcceptedRequired,
                                dataChart.EndCirculationLimitationTotalAcceptedRequired,
                                dataChart.EndorsementGuaranteeTotalAcceptedRequired,
                                dataChart.EndorsementProcurementTotalAcceptedRequired,
                                dataChart.CirculationLimitationTotalAcceptedRequired,
                                dataChart.ReportForPaymentTotalAcceptedRequired,
                                dataChart.EndorsementWithEffectOrdinaryAssignmentTotalAcceptedRequired,
                                dataChart.ObjectionTotalAcceptedRequired,
                                dataChart.TransferEconomicRightsTotalAcceptedRequired,
                                dataChart.NotificationDebtorOfTransferEconomicRightsTotalAcceptedRequired,
                                dataChart.PaymentOfTransferEconomicRightsTotalAcceptedRequired
                            ]
                        },
                        {
                            name: 'Recibidos',
                            color: '#FFD271',
                            data: [
                                dataChart.TotalDocumentSent,
                                dataChart.TotalReceiptNoticeSent,
                                dataChart.TotalReceiptServiceSent,
                                dataChart.TotalExpressAcceptanceSent,
                                dataChart.TotalAutomaticAcceptanceSent,
                                dataChart.TotalRejectInvoiceSent,
                                dataChart.TotalGuaranteeSent,
                                dataChart.TotalElectronicMandateSent,
                                dataChart.TotalEndMandateSent,
                                dataChart.TotalApplicationAvailableSent,
                                dataChart.TotalEndorsementPropertySent,
                                dataChart.TotalEndorsementCancellationSent,
                                dataChart.TotalPaymentNotificationSent,
                                dataChart.TotalEndCirculationLimitationSent,
                                dataChart.TotalEndorsementGuaranteeSent,
                                dataChart.TotalEndorsementProcurementSent,
                                dataChart.TotalCirculationLimitationSent,
                                dataChart.TotalReportForPaymentSent,
                                dataChart.TotalEndorsementWithEffectOrdinaryAssignmentSent,
                                dataChart.TotalObjectionSent,
                                dataChart.TotalTransferEconomicRightsSent,
                                dataChart.TotalNotificationDebtorOfTransferEconomicRightsSent,
                                dataChart.TotalPaymentOfTransferEconomicRightsSent
                            ]
                        },
                        {
                            name: 'Aceptados',
                            color: '#348441',
                            data: [
                                dataChart.TotalDocumentAccepted,
                                dataChart.ReceiptNoticeAccepted,
                                dataChart.ReceiptServiceAccepted,
                                dataChart.ExpressAcceptanceAccepted,
                                dataChart.AutomaticAcceptanceAccepted,
                                dataChart.RejectInvoiceAccepted,
                                dataChart.GuaranteeAccepted,
                                dataChart.ElectronicMandateAccepted,
                                dataChart.EndMandateAccepted,
                                dataChart.ApplicationAvailableAccepted,
                                dataChart.EndorsementPropertyAccepted,
                                dataChart.EndorsementCancellationAccepted,
                                dataChart.PaymentNotificationAccepted,
                                dataChart.EndCirculationLimitationAccepted,
                                dataChart.EndorsementGuaranteeAccepted,
                                dataChart.EndorsementProcurementAccepted,
                                dataChart.CirculationLimitationAccepted,
                                dataChart.ReportForPaymentAccepted,
                                dataChart.EndorsementWithEffectOrdinaryAssignmentAccepted,
                                dataChart.ObjectionAccepted,
                                dataChart.TransferEconomicRightsAccepted,
                                dataChart.NotificationDebtorOfTransferEconomicRightsAccepted,
                                dataChart.PaymentOfTransferEconomicRightsAccepted
                            ]
                        },
                        {
                            name: 'Rechazados',
                            color: '#FF414D',
                            data: [
                                dataChart.TotalDocumentsRejected,
                                dataChart.ReceiptNoticeRejected,
                                dataChart.ReceiptServiceRejected,
                                dataChart.ExpressAcceptanceRejected,
                                dataChart.AutomaticAcceptanceRejected,
                                dataChart.RejectInvoiceRejected,
                                dataChart.GuaranteeRejected,
                                dataChart.ElectronicMandateRejected,
                                dataChart.EndMandateRejected,
                                dataChart.ApplicationAvailableRejected,
                                dataChart.EndorsementPropertyRejected,
                                dataChart.EndorsementCancellationRejected,
                                dataChart.PaymentNotificationRejected,
                                dataChart.EndCirculationLimitationRejected,
                                dataChart.EndorsementGuaranteeRejected,
                                dataChart.EndorsementProcurementRejected,
                                dataChart.CirculationLimitationRejected,
                                dataChart.ReportForPaymentRejected,
                                dataChart.EndorsementWithEffectOrdinaryAssignmentRejected,
                                dataChart.ObjectionRejected,
                                dataChart.TransferEconomicRightsRejected,
                                dataChart.NotificationDebtorOfTransferEconomicRightsRejected,
                                dataChart.PaymentOfTransferEconomicRightsRejected
                            ]
                        }
                    ]
                });
            }
        });

    </script>
}
