@model Gosocket.Dian.Web.Models.OthersElectronicDocumentsViewModel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.OtherDocElecContributorId)
@Html.HiddenFor(m => m.ContributorIdType)
@Html.HiddenFor(m => m.ElectronicDocumentId)
@Html.HiddenFor(m => m.OperationModeId)
@Html.HiddenFor(m => m.SoftwareType)
<div class="panel-body padding-20 padding-bottom-10">
    @Html.Partial("_default")
</div>