
@{
    ViewBag.Title = "Participantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var message = (string)ViewBag.Message;
}

@section css
{
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <style type="text/css">
        .modal-body .close, .modal-header .close {
            background-color: none !important;
        }

        .btnCloseOtherDocument {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .btn-success:hover, btn-radian-success:hover {
            ​​​​​​background-color: #62C7AB !important;
            background: #62C7AB !important;
            border-color: #62C7AB !important;
            color: #fff !important;
        }
    </style>
}
<div class="page-content radian-view margin-20">
    <div class="container-fluid RadianContainerBegin" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">

        <p class="sub-title">Seleccione el participante que va a emitir otros documentos electrónicos</p>
        <hr>

        <div class="hab-menu-container">

            @if (ViewBag.electronicDocumentId == 13)
            {
                <button style="padding-top: calc(25px + 16.25px)" class="hab-menu-button" id="1" ContributorIdType="1" Participantetexto="Emisor">
                    Emisor
                    <img style="margin-top:16.25px" src="~/Content/img/electronic-document-icons/nomina-participante-emisor.svg" height="130" />
                    <p class="hab-menu-button-subtitle">Otros documentos electrónicos</p>
                </button>
            }
            else
            {
                <button style="padding-top: calc(25px + 16.25px)" class="hab-menu-button" id="1" ContributorIdType="1" Participantetexto="Emisor">
                    Emisor
                    <img style="margin-top:16.25px" src="~/Content/img/electronic-document-icons/nomina-participante-emisor.svg" height="130" />
                    <p class="hab-menu-button-subtitle">Otros documentos electrónicos</p>
                </button>

                <button class="hab-menu-button" ContributorIdType="2" Participantetexto="Proveedor de Servicios Tecnológicos">
                    Proveedor de servicios tecnológicos
                    <img src="~/Content/img/electronic-document-icons/nomina-proveedor-servicios-tecnologicos.svg" height="130" />
                    <p class="hab-menu-button-subtitle">Otros documentos electrónicos</p>
                </button>
            }
        </div>

        @*<div class="modal fade prompt-comment" id="dialogModeOperation" tabindex="-1" aria-labelledby="dialogModeOperationActiveLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="padding-right: 12px;">
                    <div class="modal-header">
                        <h5 class="modal-title" style="margin-left: 8px; border-bottom: 3px solid #62C7AB !important;" id="dialogModeOperationActiveLabel">Configurar Modos de operación </h5>
                        <button type="button" class="close btnCloseOtherDocument" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding-left: 1px !important;display: block; width: 100% !important;">
                        <div class="row" style="margin-left: 8px; margin-top: 20px;">
                            <div class="col-md-10 col-lg-10">
                                @Html.DropDownList("OperationMode", (IEnumerable<SelectListItem>)ViewBag.ListOperationMode, "Seleccione un modo de operación", new { @class = "form-control selectpicker" })

                            </div>
                            <div class="col-md-2 col-lg-2">
                                <button id="btnOperationMode" type="button" class="btn btn-success btn-radian-success" style="padding: 12px">Seleccionar</button>
                            </div>
                            <div class="col-md-12 col-lg-12" style="font-size:12px;margin-top:5px; margin-left:3px;">
                                <div id="sinSeleccionarOM" class="text-danger"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/Radian/RadianIndex.js"></script>

    <script>

        @if (!string.IsNullOrWhiteSpace(message))
        {
            <text>
                ErrorDialogV2("¡Notificación!", "@message");
            </text>
        }

        var operationClick = false;
        var electronicDocumentId = 0;
        var complementoTexto = '';
        var ContributorIdType =0;
        var requeridoOperationMode = "Seleccionar un modo de operación";

        $('.hab-menu-button').click(function () {
            showLoading('#panel-form', 'Cargando', 'Procesando datos, por favor espere.');
                if (!operationClick) {
                    operationClick = true;
                    $("#sinSeleccionarOM").text('');


                    electronicDocumentId = @ViewBag.electronicDocumentId;
                    ContributorIdType = $(this).attr('ContributorIdType');
                    complementoTexto= $(this).attr('Participantetexto');

                    var ValidacionOtherElectronicDocumentsViewModel = {
                        UserCode: '@ViewBag.UserCode',
                        Accion: 'SeleccionParticipante',
                        ElectronicDocument: electronicDocumentId,
                        ElectronicDocumentId: electronicDocumentId,
                        complementoTexto: complementoTexto,
                        ContributorIdType: ContributorIdType,
                        ContributorId: '@ViewBag.ContributorId'
                    };

                      var ValidacionOtherElectronicDocumentsViewModelEmisor = {
                        UserCode: '@ViewBag.UserCode',
                        Accion: 'SeleccionParticipanteEmisor',
                        ElectronicDocument: electronicDocumentId,
                        ElectronicDocumentId: electronicDocumentId,
                        complementoTexto: complementoTexto,
                        ContributorIdType: ContributorIdType,
                        ContributorId: '@ViewBag.ContributorId'
                    };

                    if (electronicDocumentId == @((int)Gosocket.Dian.Domain.Common.ElectronicsDocuments.ElectronicPayrollNoOFE)) {
                        var url = "@Url.Action("AddOrUpdate", "OthersElectronicDocuments")"
                        + `?ElectronicDocumentId=${electronicDocumentId}`
                        + "&OperationModeId=0"
                        + "&ContributorIdType=" + ContributorIdType
                        + "&ContributorId=" + @ViewBag.ContributorId;

                        window.location.href = url;
                        return;
                    }

                    CallExecution("POST", '@Url.Action("Validation", "OthersElectronicDocuments")', ValidacionOtherElectronicDocumentsViewModel,
                        function (param) {
                            // ContributorIdType == 2 es Proveedor Tecnólogico, no aplica mostrar el combo de selección.
							if (ContributorIdType == 1 || ContributorIdType == 2) {
                                hideLoading('#panel-form');
                              //  $("#dialogModeOperation").modal('show');
                                setTimeout(() => {
								    CallExecution("POST", '@Url.Action("Validation", "OthersElectronicDocuments")', ValidacionOtherElectronicDocumentsViewModelEmisor,
                                        function (param) {
                                            // ContributorIdType == 2 es Proveedor Tecnólogico, no aplica mostrar el combo de selección.
										    if (ContributorIdType == 1 || ContributorIdType == 2)
                                            {
                                                hideLoading('#panel-form');

                                               var url = "@Url.Action("AddOrUpdate", "OthersElectronicDocuments")"
                                                + `?ElectronicDocumentId=${electronicDocumentId}`
                                                + "&OperationModeId=0"
                                                + "&ContributorIdType=" + ContributorIdType
                                                + "&ContributorId=" + @ViewBag.ContributorId;

                                                window.location.href = url;

                                              //  $("#dialogModeOperation").modal('show');

                                            }
                                            //else {
                                            //    // Cuando es Proveedor Tecnólogico se asume por defecto 1="Software Propio".
                                            //    $("#OperationMode").val(1);
                                            //    $("#btnOperationMode").trigger('click');
                                            //}
                                         }, true, () => hideLoading('#panel-form')
                                    );
                                }, 500)
                            }
                            //else {
                            //    // Cuando es Proveedor Tecnólogico se asume por defecto 1="Software Propio".
                            //    $("#OperationMode").val(1);
                            //    $("#btnOperationMode").trigger('click');
                            //}
                         }, true, () => hideLoading('#panel-form')
                    );
                }

        });

        $("#btnOperationMode").click(function () {

            var OperationMode = $("#OperationMode").val();

            if (OperationMode == -1 || OperationMode == undefined || OperationMode == '') {
                $("#sinSeleccionarOM").text(requeridoOperationMode);
            }
            else {
                $("#dialogModeOperation").modal('hide');
                showLoading('#panel-form', 'Cargando', 'Procesando datos, por favor espere.');

                var ValidacionOtherDocs = {
                    UserCode: '@ViewBag.UserCode',
                    Accion: 'SeleccionOperationMode',
                    ElectronicDocumentId: electronicDocumentId,
                    complementoTexto: complementoTexto,
                    ContributorIdType: ContributorIdType,
                    OperationModeId: OperationMode,
                    ContributorId: '@ViewBag.ContributorId'
                };

                CallExecution("POST", '@Url.Action("Validation", "OthersElectronicDocuments")', ValidacionOtherDocs,
                    function (param) {

                        CallExecutionWithData("POST", '@Url.Action("Add", "OthersElectronicDocuments")', ValidacionOtherDocs,
                            function (param, data) {
                                    var url = "@Url.Action("AddOrUpdate", "OthersElectronicDocuments")"
                                        + "?ElectronicDocumentId=" + electronicDocumentId
                                        + "&OperationModeId=" + OperationMode
                                        + "&ContributorIdType=" + ContributorIdType
                                        + "&ContributorId=" + data.data;

                                        window.location.href = url;
                                }, false, () => hideLoading('#panel-form')
                        );




                    }, true, () => hideLoading('#panel-form')
                );
            }

        });
    </script>

}
