@{
    ViewBag.Title = "Otros Documentos Electrónicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Gosocket.Dian.Web.Models.AutoListModel> ListDocs = (List<Gosocket.Dian.Web.Models.AutoListModel>
                   )ViewBag.ListElectronicDocuments;
}


@section css
{
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <style type="text/css">
        .modal-body .close, .modal-header .close {
            background-color: none !important;
        }

        .btnCloseOtherDocument {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .btn-success:focus, .btn-hover-success:active, .btn-hover-success.active, .btn.btn-active-success:active, .btn.btn-active-success.active, .dropdown.open > .btn.btn-active-success, .btn-group.open .dropdown-toggle.btn.btn-active-success {
            ​​​​​​ background-color: #348441 !important;
            border-color: #348441 !important;
            color: #fff !important;
        }



        .btn-success:hover, btn-radian-success:hover {
            ​​​​​​ background-color: #62C7AB;
            background: #62C7AB;
            border-color: #62C7AB;
            color: #fff;
        }


    </style>
}

<div class="page-content radian-view margin-20">
    <div class="container-fluid RadianContainerBegin" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">

        <p class="sub-title">Seleccione el tipo de documento:</p>
        <hr>

        <div class="hab-menu-container">
            @foreach (var item in ListDocs)
            {
                <button class="hab-menu-button" idElectronicDocument="@item.Value" textElectronicDocument="@item.Text">
                    <img src="~/Content/img/electronic-document-icons/nomina-electronica-icon.svg" height="130" />
                    @item.Text
                </button>
            }
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/js/Radian/RadianIndex.js"></script>

	<script>
        var operationClick = false;

        console.log("ContributorTypeIde", @ViewBag.ContributorTypeIde);

        $('.hab-menu-button').click(function () {
            showLoading('#panel-form', 'Cargando', 'Procesando datos, por favor espere.');

                if (!operationClick) {
                    operationClick = true;

                    var electronicDocumentId = $(this).attr('idElectronicDocument');
                    var ValidacionOtherDocsElecViewModel = {
                        UserCode: '@ViewBag.UserCode',
						ContributorId: '@ViewBag.ContributorId',
                        Accion: 'SeleccionElectronicDocument',
                        ElectronicDocumentId: $(this).attr('idElectronicDocument'),
                        complementoTexto: $(this).attr('textElectronicDocument'),
                    };

                    CallExecution("POST", '@Url.Action("Validation", "OthersElectronicDocuments")', ValidacionOtherDocsElecViewModel,
                        function (param) {
                            var url = "@Url.Action("AddParticipants", "OthersElectronicDocuments")" + "?electronicDocumentId=" + electronicDocumentId;
                            window.location.href = url;
                         }, true, () => hideLoading('#panel-form')
                    );
                }

        });
	</script>
}


