@model Gosocket.Dian.Web.Models.RadianContributorFileTypeViewModel

@{
    ViewBag.Title = "Editar tipo de fichero";
}

@using (Html.BeginForm("Edit", "RadianContributorFileType", FormMethod.Post, new { id = "edit-radianContributorFileType-form" }))
{
    <div class="panel-body" style="padding-left: 0px;">
        <div class="row">
            @Html.HiddenFor(model => model.Id)
            <div class="col-lg-6 col-sm-12">
                <div class="col-sm-8 padding-xs-0">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control contributorFileType-props" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-4 padding-xs-0">
                    <div class="form-group">
                        <div class="form-block" style="padding-top: 14px;">
                            @{ if (Model.Mandatory)
                                {
                                    <label id="label-check" class="form-checkbox form-icon btn btn-gosocket form-text textEllipsis">
                                        @Html.DisplayNameFor(model => model.Mandatory)
                                        @{ if (Model.Mandatory)
                                            {
                                                @Html.CheckBoxFor(model => model.Mandatory, new { @checked = "checked" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(model => model.Mandatory)
                                            }
                                        }
                                    </label>
                                }
                                else
                                {
                                    <label id="label-check" class="form-checkbox form-icon btn btn-gosocket form-text textEllipsis add-tooltip" data-toggle="tooltip" data-original-title="@Html.DisplayNameFor(model => model.Mandatory)">
                                        @Html.DisplayNameFor(model => model.Mandatory)
                                        @{ if (Model.Mandatory)
                                            {
                                                @Html.CheckBoxFor(model => model.Mandatory, new { @checked = "checked" })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(model => model.Mandatory)
                                            }
                                        }
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="col-sm-9 padding-xs-0">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.SelectedRadianContributorTypeId)
                        <div class="form-block" style="padding-top: 5px;">
                            @Html.DropDownListFor(m => m.SelectedRadianContributorTypeId, Model.RadianContributorTypes, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 padding-xs-0">
                    <div class="form-group">
                        <div class="form-block" style="padding-top: 20px;">
                            <button type="submit" class="btn btn-primary btn-success btn-radian-success">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {

            var form = $('#edit-radianContributorFileType-form');

            $("#label-check").click(function () {
                var check = $("#label-check");
                if (!check.hasClass("active")) {
                    check.addClass("active");
                    $("#Mandatory").val(true);
                } else {
                    check.removeClass("active");
                    $("#Mandatory").val(false);
                }
            });

            $('.btn-save').click(function () {
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

    </script>
}
