@model Gosocket.Dian.Web.Models.RadianContributorFileTypeTableViewModel
@using Gosocket.Dian.Web.Utils
<div class="table-responsive table-set-files margin-bottom-40">

    <table class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0 custom-styles-files" data-int="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Obligatorio</th>
                <th>Tipo de Participante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fileType in Model.RadianContributorFileTypes)
            {
                <tr>
                    <td class="text-nowrap">@fileType.Name</td>
                    <td class="text-nowrap">
                        <a>
                            @if (fileType.Mandatory)
                            {
                                @:Sí
                            }
                            else
                            {
                                @:No
                            }
                        </a>
                    </td>
                    <td class="text-nowrap"><a>@fileType.RadianContributorType.Name</a></td>
                    <td class="text-nowrap" style="">
                        <a class="btn btn-xs add-tooltip" data-tooltip="tooltip" data-placement="bottom" title="Editar" onclick="editRadianContributorFileType(@fileType.Id)"><i class="fa fa-pencil" style="color: #348441;"></i></a>
                        @if (!fileType.HideDelete)
                        {
                            <a onclick="deleteRadianContributorFileType(@fileType.Id)"><i class="fa fa-trash" style="color: #348441; margin:1vh"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right table-pagination padding-top-10 full-width">
        @if (Model.RadianContributorFileTypes.Count > 0)
        {
            <div class="pull-left">
                <span>Mostrando @(Model.Page + 1) de @(Decimal.Truncate((Model.RadianContributorFileTypes.Count / 10) + 1)) páginas</span>
            </div>
            <div class="pull-right">
                <span class="text-muted">
                    <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.RadianContributorFileTypes.Count ? (Model.Page) * Model.Length + Model.RadianContributorFileTypes.Count : (Model.Page + 1) * Model.Length)</strong>
                </span>
                <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                    <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="btn btn-default paginate-btn next-page" @(Model.RadianContributorFileTypes.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
            </div>
         }
            </div>
        </div>