@using Gosocket.Dian.Web.Utils;
@using Gosocket.Dian.Infrastructure
@model Gosocket.Dian.Web.Models.DocValidatorModel
@using Newtonsoft.Json

@{
    ViewBag.Title = "Ver Documento";
    var status = "success";
    const string NOTES = "91, 92";

    if (Model.Document.Status == 10)
    {
        status = "primary";
    }
    if (Model.Document.Status == 2)
    {
        status = "danger";
    }
}

@section css
{
    <style>
    </style>
    <link href="~/Content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />
}

<style>
    .cufe-text {
        overflow-wrap: break-word;
        width: auto;
    }

    .ContainerDownload {
        margin-top: 15px;
        margin-bottom: 15px;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        color: #348441;
        cursor: pointer;
    }

    .render-row {
        border: hidden !important;
    }

    .subtitle-radian-status {
        font-weight: normal !important;
    }

    .line-bottom {
        border-bottom: 2px solid #E9E8E8;
    }

    .row-fe-details {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .row-fe-states {
        display: grid;
        font-size: 16px;
    }

    .radian-state-ef-line {
        width: 33px;
        height: 0px;
        border: 1px dashed #2C323C;
        margin-top: 20px;
    }

    .icon-card {
        display: grid;
    }

        .icon-card p {
            max-width: 95px;
            text-align: center;
            overflow-wrap: break-word;
        }
</style>

<!--Message-->
<!--===================================================-->
<div class="mar-top pad-no bg-white" id="html-gdoc" data-target="#html-gdoc" data-toggle="panel-overlay">

    <div style="display: none;" id="viewer-company-options"></div>
    <div class="fab-shadow"></div>

    <div>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <div>
            <div class="row line-bottom row-fe-details" style="padding-bottom:14px">
                <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
                    <img class="img-responsive" style="max-height: 130px;" src="~/Content/img/LogoDian.png">
                </div>
                <div class="col-md-5" style="padding-top: 7px; padding-left: 0">
                    <span class="cufe-text">
                        @if (Model.Document.DocumentTypeId == "20" || Model.Document.DocumentTypeId == "35" || Model.Document.DocumentTypeId == "40"
                             || Model.Document.DocumentTypeId == "55" || Model.Document.DocumentTypeId == "60" || Model.Document.DocumentTypeId == "50" || Model.Document.DocumentTypeId == "95" || Model.Document.DocumentTypeId == "27" || Model.Document.DocumentTypeId == "45" || Model.Document.DocumentTypeId == "32")
                        {
                            <span>CUDE:</span>
                        }
                        else
                        {
                            if (Model.Document.DocumentTypeId == "05")
                            {
                                <span>CUDE:</span>
                            }

                            if (Model.Document.DocumentTypeId != "05")
                            {
                                <span>CUFE:</span>
                            }
                        }
                        @Model.Document.DocumentKey<br>
                    </span>
                </div>
                <div class="col-md-4" style="padding-top: 7px; padding-left: 0;">
                    <p style="text-align: right;">
                        <span class="tipo-doc"><b>@Model.Document.DocumentTypeName</b></span>
                        <br />
                        @if (!string.IsNullOrEmpty(Model.Document.Serie))
                        {
                            @Html.Raw($"Serie: {Model.Document.Serie}<br>");
                        }
                        Folio: @Model.Document.Number<br>
                        Fecha de emisión de la factura Electrónica: @Model.Document.EmissionDate.ToString("dd-MM-yyyy")<br />
                        @if (Model.Document.DocumentTypeId == "20" || Model.Document.DocumentTypeId == "35" || Model.Document.DocumentTypeId == "40"
                             || Model.Document.DocumentTypeId == "55" || Model.Document.DocumentTypeId == "60" || Model.Document.DocumentTypeId == "50"
                             || Model.Document.DocumentTypeId == "95" || Model.Document.DocumentTypeId == "27" || Model.Document.DocumentTypeId == "45" 
                             || Model.Document.DocumentTypeId == "32" || Model.Document.DocumentTypeId == "94")
                        {
                            <a href="@Url.Action("DownloadPDFDocEquivalente", "Document", new { trackId = Model.Document.Id, FechaValidacionDIAN = Model.Document.EmissionDate, FechaGeneracionDIAN = Model.Document.EmissionDate })" class="downloadPDFUrl" style="font-size:15px; text-decoration:underline;">
                                <i class="fa fa-download"></i> Descargar PDF
                            </a>
                        }
                        else
                        {
                            if (Model.Document.Status != 2 && Model.Document.DocumentTypeId != "05")
                            {
                                <a href="@Url.Action("DownloadPDF", "Document", new { trackId = Model.Document.Id})" class="downloadPDFUrl" style="font-size:15px; text-decoration:underline;">
                                    <i class="fa fa-download"></i> Descargar PDF
                                </a>
                            }
                        }
                        @if (Model.Document.DocumentTypeId == "05")
                        {

                            <a href="#" class="add-tooltip download-support-document" data-original-title="Documento soporte" data-id="@Model.Document.Id" id="@Model.Document.Id" style="font-size:15px; text-decoration:underline;">
                                <i class="fa fa-download"></i> Descargar PDF
                            </a>
                        }
                    </p>
                </div>
            </div>

            <div class="row line-bottom row-fe-details" style="padding-bottom:24px; padding-top:14px;">
                <div class="col-md-4" style="padding: 0">
                    <p>
                        <span class="datos-receptor">DATOS DEL EMISOR</span>
                        <br>
                        NIT: @Model.Document.SenderCode<br>
                        Nombre: @Model.Document.SenderName<br>
                    </p>
                </div>
                <div class="col-md-4" style="padding: 0">
                    <p>
                        <span class="datos-receptor">DATOS DEL RECEPTOR</span>
                        <br>
                        NIT: @Model.Document.ReceiverCode<br>
                        Nombre: @Model.Document.ReceiverName<br>
                    </p>
                </div>
                @if (Model.Document.Status != 2)
                {
                    <div class="col-md-4" style="padding-right: 0">
                        <p style="text-align: right;font-weight: bold;">
                            TOTALES E IMPUESTOS<br>
                        </p>
                        <p style="text-align: right;font-weight: bold;">
                            IVA: @Model.Document.TaxAmountIva.ToString("C0")<br>
                            Total: @Model.Document.TotalAmount.ToString("C0")<br>
                        </p>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="padding-top:24px">
        <h4 class="subtitle-radian-status">ESTADO EN EL REGISTRO DE FACTURAS ELECTRÓNICAS</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="display:inline-flex">
                @if (Model.Document.DocumentTypeId == "01")
                {
                    if (Model.IconsData != null && Model.IconsData.Any())
                    {
                        var iconList = Model.IconsData.OrderBy(s => s.Key).ToList();
                        int minIndex = iconList[0].Key;
                        int maxIndex = iconList[iconList.Count - 1].Key;

                        foreach (var statusIcons in iconList)
                        {
                            if (minIndex == statusIcons.Key)
                            {
                                if (maxIndex != statusIcons.Key)
                                {
                                    <div class="icon-card">
                                        <div class="text-center">
                                            @if (minIndex == 1)
                                            {
                                                <img src="~/Content/images/Svg/EstadoFacturaElectronica.svg" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/Svg/EstadoFacturaRadian1.svg" />
                                            }
                                        </div>
                                        <p>@statusIcons.Value</p>
                                    </div>
                                    <div class="radian-state-ef-line"></div>
                                }
                                else
                                {
                                    <div class="icon-card">
                                        <div class="text-center padding-top-5">
                                            @if (minIndex == 1)
                                            {
                                                <img src="~/Content/images/Svg/EstadoFacturaElectronica.svg" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/Svg/EstadoFacturaRadian2.svg" />}
                                        </div>
                                        <p>@statusIcons.Value</p>
                                    </div>
                                }
                            }
                            else
                            {
                                if (maxIndex != statusIcons.Key)
                                {
                                    <div class="icon-card">
                                        <div class="text-center">
                                            <img src="~/Content/images/Svg/EstadoFacturaRadian1.svg" />
                                        </div>
                                        <p>@statusIcons.Value</p>
                                    </div>
                                    <div class="radian-state-ef-line"></div>
                                }
                                else
                                {
                                    <div class="icon-card">
                                        <div class="text-center padding-top-5">
                                            <img src="~/Content/images/Svg/EstadoFacturaRadian2.svg" />
                                        </div>
                                        <p>@statusIcons.Value</p>
                                    </div>
                                }
                            }
                        }
                    }
                    else
                    {
                        <div class="icon-card">
                            <div class="text-center">
                                <img src="~/Content/images/Svg/EstadoFacturaElectronica.svg" />
                            </div>
                            <p>Factura Electrónica</p>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-4 row-fe-states">
            <span class="cufe-text">
                Legítimo Tenedor actual: @Model.LegitimateOwner
            </span>
            @if (Model.DateInscription != null)
            {
                <span class="cufe-text">
                    Fecha de inscripción como título valor: @string.Format("{0:dd/MM/yyyy}", Model.DateInscription.Value)
                </span>
            }
        </div>
    </div>
    <div class="row">
        <div class="ContainerDownload">
            @if (Model.Document.DocumentTypeId == "01")
            {
                <p>
                    <i class="fa fa-download"></i>
                    <um id="show-document">
                        <ins>Certificado de existencia</ins>
                    </um>
                </p>
            }
        </div>
    </div>
</div>

<div class="row mar-no line-bottom">
    <div class="col-sm-6 pad-no">
        <h4 class="margin-top-10">Validaciones del documento</h4>
    </div>
</div>
@if (Model.Validations != null && Model.Validations.Count() == 0)
{
    <h5 class="margin-top-10"><i class="fa fa-check-circle fa-fw"></i>  Documento validado por la DIAN.</h5>
}
else
{
    <div class="table-responsive">

        <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
            <thead>
                <tr class="text-left">
                    <th>Nombre</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Validations)
                {
                    <tr class="text-left">
                        <td>@item.Name</td>
                        <td style="display:flex">
                            <label class="label label-primary">@item.Status</label>
                            <span class="fa fa-info-circle add-tooltip" data-original-title="@item.ErrorMessage"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@Html.Partial("QueryEventsList", Model)

@if (Model.Document.References.Where(x => x.ShowAsReference).Count() > 0)
{
    <div class="row mar-no line-bottom">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Referencias del documento</h4>
        </div>
    </div>
    <div class="table-responsive">

        <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
            <thead>
                <tr>
                    <th>Tipo de documento</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Nit Emisor</th>
                    <th>Emisor</th>
                    <th>Nit Receptor</th>
                    <th>Receptor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Document.References)
                {
                    <tr data-id="@item.DocumentKey" data-partitionKey="@item.DateNumber" class="document-row">
                        <td>@item.DocumenTypeName</td>
                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                        <td>@item.Description</td>
                        <td>@item.SenderCode</td>
                        <td>@item.SenderName</td>
                        <td>@item.ReceiverCode</td>
                        <td>@item.ReceiverName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

