@model Gosocket.Dian.Web.Models.DocValidatorModel
@using Gosocket.Dian.Infrastructure
@{
    ViewBag.Title = "Detalles del documento";
}

@section css
{
    <style>
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 135px !important;
        }

        .tab-base .tab-content {
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 20px;
        }

        .tab-base .tab-content {
            margin-top: 50px;
        }

        .title-container {
            margin-left: 20px;
            margin-top: 19px;
        }

        .modal-lg {
            width: auto !important;
        }
    </style>
}



<div class="page-content margin-15">
    <div id="divPageContent" class="row margin-horizontal-0">

        <div class="tab-base" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
            <!-- Navs Tabs -->

            @{
                if (Model.Document.References.Count() > 0 || Model.Document.DocumentTags.Count() > 0)
                {
                    <ul class="nav nav-tabs">
                        <li class="active"><a>@Model.Document.DocumentTypeName</a></li>
                        @foreach (var item in Model.Document.References)
                        {
                            <li><a href="@Url.Action("Details", "Document", new { trackId = item.DocumentKey })">@item.DocumenTypeName</a></li>
                        }
                        @foreach (var t in Model.Document.DocumentTags)
                        {
                            <li><a href="@Url.Action("Details", "Document", new { trackId = t.Value })">@t.Description</a></li>
                        }
                    </ul>
                }
                else
                {
                    <div class="title-container">
                        <p class="title-view">
                            @Model.Document.DocumentTypeName
                        </p>                      
                    </div>
                }
            }

            <!--Navs Content -->
            <div class="tab-content">
                <div id="divViewerPartial" class="panel-body padding-top-20 padding-bottom-0">
                    @Html.Partial("_ViewerPartial")
                </div>
            </div>
        </div>

    </div>
</div>

<div class="tab-content">
    <div id="modifyWrapper">

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    @*<script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="~/Content/js/bootstrap-filestyle.min.js"></script>*@
    <script src="~/Content/js/file-validator.js"></script>
    <script src="~/Content/js/Radian/RadianPrintDocumentPdf.js"></script>
    <script src="~/Content/js/Radian/RadianIndex.js"></script>


    <script>

        function showModal(cude) {
            showPdfModalDirect(cude, '@Url.Action("PrintGraphicRepresentation", "Document")', '#panel-form_1');
        }

           function DescargarDoc(cude,fecha) {
            debugger;

            var code = '';
            var jsonData = { trackId: cude, code: code, fecha: fecha};
            $.ajax({
                url: '@Url.Action("DownloadpdfFilesEventos", "Document", new { })',
                type: 'POST',
                cache: false,
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                error: function (error) {

                },
                success: function (response) {
                    debugger;
                    download(response.nombre, response.archivoZip);
                }
            });
           

        }
        function download(filename, data) {
            debugger;
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;base64,' + data);
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        $(document).ready(function () {
            if (window.location.pathname == "/Document/Details") $(".downloadPDFUrl").hide()
            SetCapcthatoken('@ConfigurationManager.GetValue("Recaptcha")');
            showPdfModal("#show-document", "@Model.Document.DocumentKey", '@Url.Action("PrintDocument", "Document")', '#panel-form');
           // showPdfModal("#show-supportdocument", "@Model.Document.DocumentKey", '@Url.Action("PrintSupportDocument", "Document")', '#panel-form');
            $('#container1-title').hide();
            $('.document-row').click('onClick', function () {
                if (!$(this).hasClass('not-redirect')) {
                        var id = $(this).context.getAttribute('data-id');
                        var partitionKey = $(this).context.getAttribute('data-partitionKey');
                        window.location.href = "/Document/Details?trackId=" + id + "&partitionKey=" + partitionKey;
                }
                else
                    $(this).removeClass('not-redirect')
            });

            $(".eventView").click(function () {
                showLoading("#panel-form", "Cargando", "Procesando datos, por favor espere.")
                var documentKey = $(this).parent().find("#DocumentKey").val()
                $('#container1').fadeOut(200);
                GetEventsPartialView(documentKey);
            })

            $('#divViewMoreQueryList').hide();
        });



        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function GetEventsPartialView(id) {
            var url = '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '@Model.Document.DocumentKey'
            $.ajax({
                url: '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '@Model.Document.DocumentKey',
                success: function (data, status, xhr) {
                    hideLoading("#panel-form");
                    var injectingPartialView = xhr.getResponseHeader('InjectingPartialView');
                    if (injectingPartialView == "true") {
                        $('#modifyWrapper').html(data);
                        $('#modifyWrapper').fadeIn(300);
                        $('#container1-title').fadeIn(300);
                        $('[data-toggle="popover"]').popover();
                    }
                    else {
                        window.location.href = '/User/Login';
                    }
                }
            });

        };

        function changeTab(id) {
            window.location.href = "/Document/Details?trackId=" + id;
        }

        function darClick() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }

        function showMore() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }

    </script>

}
