@using Gosocket.Dian.Web.Common;
@model Gosocket.Dian.Web.Models.ExportDocumentTableViewModel

@{
    ViewBag.Title = "Descargar listados";

}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
}
<style>
    .modal-header:after {
        display: none;
    }
</style>
<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="tab-base">
            <!--Tabs Content-->
            <div class="tab-content transparency">
                <div id="tab-current-country" class="tab-pane fade active in">

                    <div class="panel" id="panel-wrapper" data-target="#panel-wrapper" style="background-color: #ffffff00;">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm">
                                <div class="row margin-horizontal-0">
                                    @using (Html.BeginForm("Export", "Document", FormMethod.Post, new { id = "export-form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(m => m.Type)
                                        @Html.HiddenFor(m => m.StartDate)
                                        @Html.HiddenFor(m => m.EndDate)
                                        @Html.HiddenFor(m => m.AmountAdmin)

                                        @*<input id="startDate" name="StartDate" type="hidden" value="@Model.StartDate" />
                                            <input id="endDate" name="EndDate" type="hidden" value="@Model.EndDate" />*@

                                        <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                            <div class="col-md-12 padding-horizontal-0">
                                                <div id="document-list" class="panel panel-bordered-dian">

                                                    <div class="panel-body padding-20">
                                                        <div class="row">

                                                            @if (User.IsInAnyRole("Administrador", "Super"))
                                                            {
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.SenderCode, new { @class = "control-label" })
                                                                        @Html.TextBoxFor(m => m.SenderCode, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", @Html.DisplayNameFor(model => model.SenderCode) } })
                                                                    </div>
                                                                </div>
                                                            }

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.ReceiverCode, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.ReceiverCode, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", @Html.DisplayNameFor(model => model.ReceiverCode) } })
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-3 padding-xs-0">
                                                                <div class="form-group">
                                                                    <label class="control-label">Rango de fechas</label>
                                                                    <div class="input-group double-calendar">
                                                                        <span id="action-left" class="input-group-addon">
                                                                            <i class="fa fa-chevron-left"></i>
                                                                        </span>
                                                                        <input type="text" class="form-control" id="export-range" placeholder="Ejm: 01-01-2020 - 01-03-2021">
                                                                        <span id="action-right" class="input-group-addon">
                                                                            <i class="fa fa-chevron-right"></i>
                                                                        </span>
                                                                    </div>
                                                                    @*<div class="form-group">
                                                                            <div class="form-control col-sm-12" id="export-range">
                                                                                <i class="icon-calendar"></i>&nbsp;
                                                                                <span class="thin uppercase hidden-xs"></span>&nbsp;
                                                                                <i class="fa fa-angle-down"></i>
                                                                            </div>
                                                                        </div>*@
                                                                </div>
                                                            </div>

                                                            @if (!User.IsInAnyRole("Administrador", "Super"))
                                                            {
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group margin-bottom-0">
                                                                        <label class="control-label">Grupos</label>
                                                                        <select id="filter-groups" class="form-control selectpicker" name="GroupCode">
                                                                            <option selected="selected" value="0">Todos</option>
                                                                            <option value="1">Emitidos</option>
                                                                            <option value="2">Recibidos</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                        <br />
                                                        @if (User.IsInAnyRole("Administrador", "Super"))
                                                        {
                                                            <div class="dian-alert dian-alert-info" style="width:40%;">
                                                                <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                                                                <p>
                                                                    Se exportarán un  máximo de @Model.AmountAdmin documentos.
                                                                </p>
                                                            </div>

                                                        }
                                                        @if (!User.IsInAnyRole("Administrador", "Super"))
                                                        {
                                                            <div class="dian-alert dian-alert-info" style="width:40%;">
                                                                <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                                                                <p>
                                                                    Se exportarán un  máximo de @Model.AmountAdmin documentos.
                                                                </p>
                                                            </div>

                                                        }

                                                    </div>

                                                    <div class="panel-footer-grey text-center">
                                                        <button type="button" class="btn btn-success btn-radian-success btn-export-excel">Exportar Excel</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                            @Html.Partial("_tasks")

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <link href="~/Content/css/app-new-style.css" rel="stylesheet" />

    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>


    <script>
        var startDate;
        var endDate;
               

        $(document).ready(function () {
            //$('input.check').on('change', function () {
            //    $('input.check').not(this).prop('checked', false).parent().removeClass('active');
            //});

            //$('.document-row').click('onClick', function () {
            //    if (!$(this).hasClass('not-redirect')) {
            //        var id = $(this).context.getAttribute('data-id');
            //        var partitionKey = $(this).context.getAttribute('data-partitionKey');
            //        window.location.href = "/Document/Details?trackId=" + id + "&partitionKey=" + partitionKey;
            //    }
            //    else
            //        $(this).removeClass('not-redirect')
            //});

            //$('.download-files').click('onClick', function () {
            //    downloadFiles(this);
            //});

            $('.btn-export-excel').click(function () {
                ConfirmDialogV2("¿Esta seguro que desea descargar el listado de documentos recibidos?",
                    { confirm: "SI", cancel: "NO" },
                    sendExport);


                //$(this).attr('disabled', 'disabled');
                //$(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Exportando...');
                //$('.table-pagination').css('display', 'none');
                //$('.table-responsive').css('display', 'none');
                //$('#Type').val(0);
                //$('#export-form').submit();
            });

            // Pagination
            @*$('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
                $('#export-form').submit();
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
                $('#export-form').submit();
            });*@
            // Pagination

        });

        startDate = moment("@Model.StartDate.ToString("yyyy-MM-dd")");
        endDate = moment("@Model.EndDate.ToString("yyyy-MM-dd")");

        startDate.locale('es');
        endDate.locale('es');

        $('#export-range').daterangepicker({
            /*"buttonClasses": "btn btn-block btn-default",*/
            "startDate": startDate,
            "endDate": endDate,
            "maxDate": endDate,
            //"applyClass": "btn-hover-gosocket",
            //"cancelClass": "btn-hover-gosocket",
            //"ranges": {
            //    'Últimos 7 Días': [moment().subtract('days', 6), moment()],
            //    'Mes actual': [moment().startOf('month'), moment().endOf('month')],
            //    'Mes Anterior': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
            //    'Últimos 3 Meses': [moment().subtract('month', 3).startOf('month'), moment().endOf('month')]
            //
            //},
            "autoApply": false,
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "Desde",
                "toLabel": "Hasta",
                "customRangeLabel": "Personalizar",
                "weekLabel": "S",
                "daysOfWeek": [
                    "DO",
                    "LU",
                    "MA",
                    "MI",
                    "JU",
                    "VI",
                    "SÁ"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 0
            },
            opens: ('left'),
        }, function (start, end, label) {
            //$('#export-range span').html(capitalizeMonth(start.format('DD-MMMM-YYYY')) + ' al ' + capitalizeMonth(end.format('DD-MMMM-YYYY')));
            startDate = start;
            endDate = end;
            $('#StartDate').val(startDate.format('MM/DD/YYYY'));
            $('#EndDate').val(endDate.format('MM/DD/YYYY'));
        });

        $(".daterangepicker").find(".cancelBtn ").addClass("btn-secondary");

        $(".double-calendar").find("#action-left").click(function () {
            const actualStartDate = moment($("#StartDate").val()),
                actualEndDate = moment($("#EndDate").val()),
                prevStartDate = actualStartDate.add(-1, "days"),
                nextEndDate = actualEndDate.add(-1, "days");

            $("#export-range").data('daterangepicker').setStartDate(prevStartDate);
            $("#export-range").data('daterangepicker').setEndDate(nextEndDate);
            $("#StartDate").val(prevStartDate.format('MM/DD/YYYY'));
            $("#EndDate").val(nextEndDate.format('MM/DD/YYYY'));
        })
        $(".double-calendar").find("#action-right").click(function () {
            const actualStartDate = moment($("#StartDate").val()),
                actualEndDate = moment($("#EndDate").val()),
                prevStartDate = actualStartDate.add(1, "days"),
                nextEndDate = actualEndDate.add(1, "days");

            $("#export-range").data('daterangepicker').setStartDate(prevStartDate);
            $("#export-range").data('daterangepicker').setEndDate(nextEndDate);
            $("#StartDate").val(prevStartDate.format('MM/DD/YYYY'));
            $("#EndDate").val(nextEndDate.format('MM/DD/YYYY'));
        })

        function capitalizeMonth(date) {
            return date.substring(0,3) + date.charAt(3).toUpperCase() + date.slice(4);
        }

        function sendExport() {
            var dataForm = $("#export-form").serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            showLoading('#panel-wrapper', 'Cargando', '!El listado se está exportando!');
            $.ajax({
                url: "@Url.Action("Export", "Document")",
                type: "POST",
                data: dataForm,
                datatype: "json",
                success: function (result) {
                    hideLoading("#panel-wrapper");
                    if (result != null) {



                        //bootbox.dialog({
                        //    title: "!El listado se está exportando!",
                        //    message: "<div class='media'><div class='media-body'>" +
                        //        "<h4 class='text-thin'>Le notificaremos por medio de un correo electrónico y en su bandeja de notificaciones cuando el listado de documentos recibidos esté completado para descargar</h4></div></div>",
                        //    buttons: {
                        //        ok: {
                        //            label: "OK",
                        //            className: "btn-gosocket",
                        //            callback: function () {

                        //            }
                        //        }
                        //    }
                        //});



                    }
                    else {
                        ErrorDialogV2("¡Notificación!", "No se pudo realizar el exporte de la información");
                    }
                },
                complete: function () {
                    hideLoading("#panel-wrapper");
                },
                error: function (result) {
                    hideLoading("#panel-wrapper");
                    ErrorDialogV2("¡Notificación!", "Error de conexión al intentar obtener el listado de Software");
                    console.log(result.status + ' ' + result.statusText);
                    return false;
                }
            });
        }

        //function downloadFiles(span) {
        //    $(span).parent().parent().addClass('not-redirect');
        //    var id = span.id;
        //    if ($(span).hasClass("fa-download")) {
        //        $(span).removeClass("fa-download");
        //        $(span).addClass("fa-spinner");
        //        setTimeout(function () {
        //            $("#" + id).removeClass("fa-spinner");
        //            $("#" + id).addClass("fa-download");
        //        }, 5000);
        //        window.location.href = "/Document/DownloadZipFiles?trackId=" + id;

        //    }
        //}

        //$(document).on('mouseenter', ".iffyTip", function () {
        //    var $this = $(this);
        //    if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
        //        $this.tooltip({
        //            title: $this.text(),
        //            placement: "top"
        //        });
        //        $this.tooltip('show');
        //    }
        //});
        //$('.hideText').css('width', $('.hideText').parent().width());

    </script>

}
