@using Gosocket.Dian.Web.Common;
@using Gosocket.Dian.Domain.Entity;
@model Gosocket.Dian.Web.Models.PayrollViewModel

@{
    ViewBag.Title = "Consultar Nómina";
    var firstSurnameData = ViewBag.FirstSurnameData as List<string>;
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

<style>
    .form-control {
        border-radius: 4px;
        height: 43px !important;
        border: 1px solid #CCCCCC;
    }

    .btn-default {
        border-radius: 4px;
        height: 43px !important;
        padding-top: 12px;
        padding-left: 0px !important;
    }

    .title-container {
        margin-bottom: 50px !important;
        margin-top: 30px !important;
    }

    .select-container {
        padding-left: 10px !important;
    }

    .submit-container {
        margin-top: 8px;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .bootstrap-select button {
        padding-left: 10px !important;
    }
</style>

<div class="page-content margin-15">
    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
    </div>



    <div class="tab-base" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
        <div class="row margin-horizontal-0">
            <div class="tab-base">
                <!--Tabs Content-->
                <div class="tab-content padding-0">
                    <div id="tab-current-country" class="tab-pane fade active in">
                        <div class="panel" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
                            <div class="panel-body padding-top-20">
                                <div class="pad-btm padding-bottom-0">
                                    <div class="row margin-horizontal-0">
                                        @using (Html.BeginForm("Payroll", "Document", FormMethod.Post, new { id = "payroll-form" }))
                                        {
                                            @Html.HiddenFor(m => m.Page)
                                            @Html.HiddenFor(m => m.DirectionToPagination)

                                            @* @Html.AntiForgeryToken()*@

                                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                                <div class="col-md-12 padding-horizontal-0">
                                                    <div id="document-list" class="panel panel-bordered-dian">

                                                        <div class="panel-body padding-20 padding-bottom-0">
                                                            <div class="row">
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.CUNE, new { @class = "control-label" })
                                                                        @Html.TextBoxFor(m => m.CUNE, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", @Html.DisplayNameFor(model => model.CUNE) } })
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.MesValidacion, new { @class = "control-label" })
                                                                        @Html.DropDownListFor(m => m.MesValidacion, new SelectList(Model.MesesValidacion, "Code", "Name", Model.MesValidacion), new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.Ordenar, new { @class = "control-label" })
                                                                        @Html.DropDownListFor(m => m.Ordenar, new SelectList(Model.Ordenadores, "Code", "Name", Model.Ordenar), new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.Label("Rango de Numeración", new { @class = "control-label" })
                                                                        <div class="form-control">
                                                                            <span>Del</span>
                                                                            <input id="RangoNumeracionMenor" name="RangoNumeracionMenor" type="number" style="width: 40%" value="@Model.RangoNumeracionMenor" />
                                                                            <span>al</span>
                                                                            <input id="RangoNumeracionMayor" name="RangoNumeracionMayor" type="number" style="width: 40%" value="@Model.RangoNumeracionMayor" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.TipoDocumento, new { @class = "control-label" })
                                                                        @Html.DropDownListFor(m => m.TipoDocumento, new SelectList(Model.TiposDocumento, "Code", "Name", Model.TipoDocumento), new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.NumeroDocumento, new { @class = "control-label" })
                                                                        @Html.TextBoxFor(m => m.NumeroDocumento, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Número de Documento Empleado" } })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.LetraPrimerApellido, new { @class = "control-label" })
                                                                        <input type="text" id="LetraPrimerApellido" name="LetraPrimerApellido" class="form-control" value="@Model.LetraPrimerApellido" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.RangoSalarial, new { @class = "control-label" })
                                                                        @Html.DropDownListFor(m => m.RangoSalarial, new SelectList(Model.RangosSalarial, "Code", "Name", Model.RangoSalarial), new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-3 padding-xs-0">
                                                                    <div class="form-group">
                                                                        @Html.LabelFor(m => m.Ciudad, new { @class = "control-label" })
                                                                        @Html.DropDownListFor(m => m.Ciudad, new SelectList(Model.Ciudades, "Code", "Name", Model.Ciudad), new { @class = "form-control selectpicker" })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        @if (!String.IsNullOrEmpty(Model.Mensaje))
                                                        {
                                                            <div class="panel-body padding-20 padding-bottom-0">
                                                                <div class="row" style="color:#FF0000;">
                                                                    @Model.Mensaje
                                                                </div>
                                                            </div>
                                                        }

                                                        <div class="panel-footer-grey text-right submit-container">
                                                            <button type="button" class="btn btn-success btn-radian-success btn-search">Buscar</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>

                                @Html.Partial("_payrolls")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var $page = $('#Page'),
                $directionToPagination = $('#DirectionToPagination'),
                $form = $('#payroll-form'),
                $enumerationRangeMin = $('#RangoNumeracionMenor'),
                $enumerationRangeMax = $('#RangoNumeracionMayor');

            // Pagination
            $('.next-page').click(function () {
                $page.val(@Model.Page + 1);
                $directionToPagination.val('next');
                $form.submit();
            });

            $('.prev-page').click(function () {
                $page.val(@Model.Page - 1);
                $directionToPagination.val('prev');
                $form.submit();
            });
            // Pagination

            $('.btn-search').click(function () {
                $page.val(0);
                $form.submit();
            });

            $enumerationRangeMin.change(function () {
                let $this = $(this);
                if ($this.val() != null) {
                    let value = parseInt($this.val());
                    if (value < 0) {
                        value = 0;
                        $this.val(value);
                    }

                    if ($enumerationRangeMax.val() != null) {
                        let maxValue = parseInt($enumerationRangeMax.val());
                        if (value > maxValue) {
                            $enumerationRangeMax.val(value);
                        }
                        else {
                            if ((maxValue - value) > 50) {
                                $enumerationRangeMax.val((value + 50));
                            }
                        }
                    }
                }
            });

            $enumerationRangeMax.change(function () {
                let $this = $(this);
                if ($this.val() != null) {
                    let value = parseInt($this.val());
                    if (value < 0) {
                        value = 1;
                        $this.val(value);
                        $enumerationRangeMin.val(0);
                        return;
                    }

                    if ($enumerationRangeMin.val() != null) {
                        let minValue = parseInt($enumerationRangeMin.val());
                        if (value < minValue) {
                            $enumerationRangeMin.val(value);
                        }
                        else {

                            if ((value - minValue) > 50) {
                                $enumerationRangeMin.val((value - 50));
                            }
                        }

                    }
                }
            });

            var arrayFirstSurname = [];

            @if (firstSurnameData != null) {
                foreach (var item in firstSurnameData)
                {
                    <text>arrayFirstSurname.push({ value: '@item' });</text>
                }                
            }

            $("#LetraPrimerApellido").autocomplete({
                source: arrayFirstSurname,
                select: function (event, ui) {

                }
            });

        });
    </script>
}
