@model Gosocket.Dian.Web.Models.DocValidatorModel

@section css {
    <link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />
}

<style>
    a {
        text-decoration: none;
        color: #348441;
        outline: 0;
    }

    h4 {
        font-weight: bolder !important;
    }

    .pad-no {
        padding-left: 0px;
    }
</style>

<div id="container1-title" style="display:none;">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="row mar-no">
        <div class="row mar-no">
            <div class="view-more-collapse">
                <u style="font-size: 15px; color: #348441;" onclick="showMore()">VER MÁS<a class="fa fa-angle-down" style="font-size: 16px; color: #348441;"></a></u>
            </div>
        </div>
    </div>
</div>

<div id="container1">
    <div class="row mar-no" style="border-bottom: 2px solid #E9E8E8;">
        <div class="col-sm-6 pad-no">
            <h4 class="margin-top-10">Eventos de la factura electrónica</h4>
        </div>
    </div>
    <div class="table-responsive">
        <table class="documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
            @if (Model.Events == null || Model.Events.Count == 0)
            {
                <tr style="background-color: transparent !important;">
                    <td class="text-nowrap text-center" colspan="12" style="padding-left: 0 !important; padding-right: 0 !important;">
                        <div class="alert panel-footer-grey">
                            No tiene eventos asociados.
                        </div>
                    </td>
                </tr>
            }
            else
            {
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Nit Emisor</th>
                        <th class="text-left">Emisor</th>
                        <th class="text-center">Nit Receptor</th>
                        <th class="text-left">Receptor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var set in Model.Events)
                    {
                        <tr>
                            <td class="text-center" style="width:100px;">@set.EventCode</td>
                            <td class="text-left">@set.Description</td>
                            <td class="text-center" style="width:100px;">@set.EventDate.ToString("yyyy-MM-dd")</td>
                            <td class="text-center" style="width:100px;">@set.SenderCode</td>
                            <td class="text-left">@set.Sender</td>
                            <td class="text-center" style="width:100px;">@set.ReceiverCode</td>
                            <td class="text-left">@set.Receiver</td>
                            <td style="width:100px;" class="eventlink">
                                <a class="eventView"><i class="fa fa-eye"></i>Ver detalle</a>
                                <input type="hidden" id="DocumentKey" value="@set.DocumentKey" />
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>

