@using Gosocket.Dian.Infrastructure
@model Gosocket.Dian.Web.Models.InvoiceNotesViewModel

@{
    ViewBag.Title = "Detalles del documento";
    Layout = "~/Views/Shared/_LayoutPublicInfo.cshtml";
    var invoiceDocValidatorModel = Model.ListDocValidatorModels[0];
    invoiceDocValidatorModel.IconsData = Model.IconsData;
}

@section css
{
    <style>
        .container-md {
            background-color: #fff;
            margin: 0 35px;
            padding: 0 20px;
        }

        .text-wrap {
            word-wrap: break-word;
        }

        .btn-volver {
            color: #348441;
            margin-left: 35px;
            margin-bottom: 10px;
            margin-top: -15px;
            font-size: 16px;
        }
    </style>
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Content/js/common/common.js"></script>

<div class="btn-volver">
    < <a href="@Url.Action("SearchDocument", "User")" style="font-size:15px; text-decoration:underline;">Volver</a>
</div>

<div class="container-md">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><span class="h5">Factura Electrónica</span></a></li>
        @foreach (var item in Model.ListGlobalDocValidatorDocumentMetas)
        {
            <li><a data-toggle="tab" href="#@item.DocumentKey"><span class="h5">@item.DocumentTypeName</span></a></li>
        }
    </ul>

    <div class="tab-content" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
        <div id="home" class="tab-pane fade in active">
            <div>
                @Html.Partial("_ViewerPartial", invoiceDocValidatorModel)
                @*<div>CUFE:</div>
                    <div>@Model.GlobalDocValidatorDocument.GlobalDocumentId</div>*@
            </div>
        </div>

        @foreach (var item in Model.ListDocValidatorModels.Where(d => d.Document.DocumentKey != "01"))
        {
            <div id="@item.Document.DocumentKey" class="tab-pane fade">
                @Html.Partial("_ViewerPartial", item)
            </div>
        }
    </div>
</div>
<div class="tab-content">
    <div id="modifyWrapper">
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@ConfigurationManager.GetValue("Recaptcha")"></script>

    <script src="~/Content/js/file-validator.js"></script>
    <script src="~/Content/js/Radian/RadianPrintDocumentPdf.js"></script>
    <script src="~/Content/js/Radian/RadianIndex.js"></script>

    <script>

        function showModal(cude) {
            debugger;
            showPdfModalDirect(cude, '@Url.Action("PrintGraphicRepresentation", "Document")', "#panel-form_1");
        }

        function DescargarDoc(cude,fecha) {
            debugger;

            var code = '';
            var jsonData = { trackId: cude, code: code, fecha: fecha};
            $.ajax({
                url: '@Url.Action("DownloadpdfFilesEventos", "Document", new { })',
                type: 'POST',
                cache: false,
                data: JSON.stringify(jsonData),
                contentType: "application/json",
                error: function (error) {
                    
                },
                success: function (response) {
                    debugger;
                    download(response.nombre, response.archivoZip);
                }
            });
           // window.location.href = "/Document/DownloadZipFilesEventos?trackId=" + cude + "&code=" + code + "&fecha=" + fecha;

        }
        function download(filename, data) {
            debugger;
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;base64,' + data);
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
        $(document).ready(function () {
            showPdfModal("#show-document", "@Model.GlobalDocValidatorDocument.DocumentKey", '@Url.Action("PrintDocument", "Document")', "#panel-form");
            $('#container1-title').hide();
            $('.document-row').click('onClick', function () {
                if (!$(this).hasClass('not-redirect')) {
                        var id = $(this).context.getAttribute('data-id');
                        var partitionKey = $(this).context.getAttribute('data-partitionKey');
                        window.location.href = "/Document/Details?trackId=" + id + "&partitionKey=" + partitionKey;
                }
                else
                    $(this).removeClass('not-redirect')
            });

            $(".eventView").click(function () {
                var documentKey = $(this).parent().find("#DocumentKey").val()
                $('#container1').fadeOut(200);
                GetEventsPartialView(documentKey);
                setTimeout(function () {
                    $('#divViewerPartial').css("height", "635px");
                    $('#divPageContent').css('max-height', '623px');
                }, 200)
            })

            $('#divViewMoreQueryList').hide();

              $(".download-support-document").click(function () {
                  var cufe = this.id;
                  showPdfModalClick(cufe, '@Url.Action("PrintSupportDocument", "Document")', '#html-gdoc');
            })
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        function GetEventsPartialView(id) {
            var url = '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '@Model.GlobalDocValidatorDocument.DocumentKey'
            $.ajax({
                url: '/QueryAssociatedEvents/EventsView?id=' + id + "&cufe=" + '@Model.GlobalDocValidatorDocument.DocumentKey',
                success: function (data, status, xhr) {
                    var injectingPartialView = xhr.getResponseHeader('InjectingPartialView');
                    if (injectingPartialView == "true") {
                        $('#modifyWrapper').html(data);
                        $('#modifyWrapper').fadeIn(300);
                        $('#container1-title').fadeIn(300);
                        $('[data-toggle="popover"]').popover();
                    }
                    else {
                        window.location.href = '/User/Login';
                    }
                }
            });

        };

        function changeTab(id) {
            window.location.href = "/Document/Details?trackId=" + id;
        }

        function darClick() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }

        function showMore() {
            $('#modifyWrapper').fadeOut(300);
            $('#container1-title').fadeOut(300);
            $('#divViewerPartial').css('height', '');
            $('#divPageContent').css('max-height', '');
            $('#divChildrenModifyWrapper').css('padding-top', '');
            setTimeout(function () {
                $('#container1').fadeIn(300);
            }, 500);
        }
    </script>
}