@model Gosocket.Dian.Web.Models.NumberRangeTableViewModel
@{
    /**/

    ViewBag.Title = "Administrar rangos de numeración";
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">

    <style>
        
    </style>
}


@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">

        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("List", "NumberRange", FormMethod.Post, new { id = "number-range-form" }))
                        {
                            @Html.HiddenFor(m => m.Page)

                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">

                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian" style="box-shadow: none;">
                                        <div class="panel-body padding-20 padding-bottom-0">
                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Code, defaultHtmlAttr)
                                                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger text-left" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-left" style="margin: 20px;">
                                            <button class="btn btn-success btn-radian-success btn-search">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-horizontal-0">
                                <div class="col-md-9 table-toolbar-left padding-left-0">
                                </div>
                                <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
                                    @if (Model.NumberRanges.Count > 0)
                                    {
                                        <span class="text-muted">
                                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.NumberRanges.Count ? (Model.Page) * Model.Length + Model.NumberRanges.Count : (Model.Page + 1) * Model.Length)</strong>
                                        </span>
                                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-left"></span>
                                            </a>
                                            <a class="btn btn-default paginate-btn next-page" @(Model.NumberRanges.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-right"></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("_Items")

                <div class="alert panel-footer-grey text-center number-range-alert" style="display: none">
                    Ningún rango de numeración disponible para mostrar.
                </div>

                <div class="pull-right table-pagination">
                    @if (Model.NumberRanges.Count > 0)
                    {
                        <span class="text-muted">
                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.NumberRanges.Count ? (Model.Page) * Model.Length + Model.NumberRanges.Count : (Model.Page + 1) * Model.Length)</strong>
                        </span>
                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-left"></span>
                            </a>
                            <a class="btn btn-default paginate-btn next-page" @(Model.NumberRanges.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#Code").focus();

            if (@Model.NumberRanges.Count == 0) {
                $('.table-responsive').css('display', 'none');
                if ('@Model.SearchFinished' === 'True')
                    $('.number-range-alert').css('display', '');
            }

            $('.btn-search').click(function () {
                $('#page').val(0);
                showLoading('#panel-form', 'Cargando', 'Buscando datos, por favor espere.');
                $(this).attr('disabled', 'disabled');
                $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                $('.table-pagination').css('display', 'none');
                $('.table-responsive').css('display', 'none');
                $('#number-range-form').submit();
            });

            // Pagination
            $('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
                $('#number-range-form').submit();
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
                $('#number-range-form').submit();
            });
            // Pagination
        });
    </script>
}
