@model Gosocket.Dian.Web.Models.ContributorFileTypeTableViewModel
@{
    ViewBag.Title = "Listado de ficheros";
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">

    <style>
        
    </style>
}


@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">

        <div class="panel" style="background: transparent;">
            <div class="panel-body padding-top-20">
                <div class="form-inline padding-bottom-10">
                    <div class="row margin-horizontal-0">
                        <div class="col-sm-12 table-toolbar-left padding-left-0">
                            <a href="@Url.Action("Add", "ContributorFileType")" class="btn btn-success btn-radian-success"><i class="fa fa-plus"></i> Agregar</a>
                        </div>
                    </div>                   
                </div>

                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("List", "ContributorFileType", FormMethod.Post, new { id = "contributorFileTypes-form" }))
                        {
                            <input id="page" name="Page" type="hidden" value="@Model.Page" />
                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">
                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian">

                                        <div class="panel-body padding-20 padding-bottom-0">
                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.Name, defaultHtmlAttr)
                                                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-left" style="padding: 20px;">
                                            <button type="button" class="btn btn-secondary btn-hover-gosocket btn-search text-left">Buscar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row margin-horizontal-0">
                                <div class="col-md-9 table-toolbar-left padding-left-0">
                                </div>
                                <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
                                    @if (Model.ContributorFileTypes.Count > 0)
                                    {
                                        <span class="text-muted">
                                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.ContributorFileTypes.Count ? (Model.Page) * Model.Length + Model.ContributorFileTypes.Count : (Model.Page + 1) * Model.Length)</strong>
                                        </span>
                                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-left"></span>
                                            </a>
                                            <a class="btn btn-default paginate-btn next-page" @(Model.ContributorFileTypes.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-right"></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("_Items")

                @if (Model.ContributorFileTypes.Count == 0)
                {
                    <div class="alert dataTables_empty text-center contributor-alert">
                        Ningún resultado disponible para mostrar.
                    </div>
                }

                <div class="pull-right table-pagination padding-top-10">
                    @if (Model.ContributorFileTypes.Count > 0)
                    {
                        <span class="text-muted">
                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.ContributorFileTypes.Count ? (Model.Page) * Model.Length + Model.ContributorFileTypes.Count : (Model.Page + 1) * Model.Length)</strong>
                        </span>
                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-left"></span>
                            </a>
                            <a class="btn btn-default paginate-btn next-page" @(Model.ContributorFileTypes.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var form = $('#contributorFileTypes-form');

            if (@Model.ContributorFileTypes.Count == 0) {
                $('.table-responsive').css('display', 'none');
            }

            $('.btn-search').click(function () {
                if (form.valid()) {
                    $('#page').val(0);
                    showLoading('#panel-form', 'Cargando', 'Buscandi datos, por favir espere.');
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                    $('.table-pagination').css('display', 'none');
                    $('.table-responsive').css('display', 'none');
                    form.submit();
                }
            });

            // Pagination
            $('.next-page').click(function () {
                $('#page').val(@Model.Page + 1);
                form.submit();
            });

            $('.prev-page').click(function () {
                $('#page').val(@Model.Page - 1);
                form.submit();
            });
            // Pagination
        });
    </script>
}
