@model Gosocket.Dian.Web.Models.FreeBiller.ProfileFreeBillerModel
@using Gosocket.Dian.Web.Common
@{
    ViewBag.Title = "Creación de Perfiles";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var columnSize = 3;
    //if (view == "Index" || view == "Provider")
    //{
    //    columnSize = 3;
    //}
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
}

<style>
    .form-control {
        border-radius: 4px;
        height: 43px !important;
        border: 1px solid #CCCCCC;
    }

    .btn-default {
        border-radius: 4px;
        height: 43px !important;
        padding-top: 12px;
        padding-left: 0px !important;
    }

    .title-container {
        margin-bottom: 50px !important;
        margin-top: 30px !important;
    }

    .select-container {
        padding-left: 10px !important;
    }

    .submit-container {
        margin-top: 8px;
        padding-top: 24px;
        padding-bottom: 20px;
    }

    .bootstrap-select button {
        padding-left: 10px !important;
    }

    .textPermisos {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #2C323C;
    }

    .linePermisos {
        background: #E9E8E8;
        border-radius: 2px;
    }
</style>

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="tab-base">
            <div class="tab-content padding-0">
                <div id="tab-current-country" class="tab-pane fade active in">
                    <div id="divMain" class="panel" data-target="#divMain" data-toggle="panel-overlay">
                        <div class="panel-body padding-top-20">
                            <div class="pad-btm padding-bottom-0">
                                <div class="row margin-horizontal-0">
                                    @using (Html.BeginForm("CreateProfile", "ProfileFreeBiller", FormMethod.Post, new { id = "checked-add-form" }))
                                    {
                                        <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                            <div class="col-md-12 padding-horizontal-0">
                                                <div id="document-list" class="panel panel-bordered-dian">

                                                    <div class="panel-body padding-20 padding-bottom-0">
                                                        <div class="row">
                                                            <div class="col-sm-@columnSize padding-xs-0">
                                                                <div class="form-group">
                                                                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (User.ContributorTypeId() == 4)
                                                        {
                                                            @Html.Partial("_permissionGrid");
                                                        }
                                                        else
                                                        if (User.ContributorTypeId() != 4)
                                                        {
                                                            @Html.Partial("_permissionFGrid");
                                                        }

                                                    </div>

                                                    <div class="text-left submit-container">
                                                        <button id="btnSend" type="submit" class="btn btn-success btn-radian-success">Crear Perfil</button>
                                                        <button id="btnCancel" type="button" class="btn btn-secondary btn-radian-default">Cancelar</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/Content/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="~/Content/js/bootstrap-filestyle.min.js"></script>
    <script src="~/Content/js/file-validator.js"></script>
    <script src="~/Content/js/Radian/RadianIndex.js"></script>
    <script src="~/Content/js/FreeBiller/FreeBiller.js"></script>


    <script>
        $(document).ready(function () {
            var urlUsers = "@Url.Action("FreeBillerUser", "FreeBiller")";

            $("#btnCancel").click(function (e) {
                e.preventDefault();
                window.location.href = urlUsers;
            });
            $("#btnSend").click(function (e) {
                showLoading('#divMain', 'Guardando', 'Procesando datos, por favor espere.');
                e.preventDefault();
                var valuesSelected = [];
                $('[name=ValuesSelected]').each(function (index, element) {
                    element.checked == true && valuesSelected.push($(element).val());
                })
                var data = {
                    Name: $('[name=Name]').val(),
                    ValuesSelected: valuesSelected
                }
                var url = '@Url.Action("CreateProfile", "ProfileFreeBiller")';
                var actionError = (error) => {
                    console.log(error);
                }
                var actionSuccess = (success) => {
                    var confirmMessage = success.Message;
                    var operationCancel = () => {
                        window.location.href = urlUsers;
                    }
                    var buttons = AlertExec(operationCancel);
                    var clName = (success.Code == 200) ? "cancel-confirmation" : null;
                    showConfirmation(confirmMessage, buttons, clName, operationCancel)
                }
                createUser(url, 'POST', data, actionError, actionSuccess)
                $('#dian-loading').hide()
            });

        });
    </script>

}
