@model Gosocket.Dian.Web.Models.ExternalUserViewModel

@{
    ViewBag.Title = "Crear usuario catálogo";
}

@section css
{
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">
    <style type="text/css">

        .btn-success:focus, .btn-hover-success:active, .btn-hover-success.active, .btn.btn-active-success:active, .btn.btn-active-success.active, .dropdown.open > .btn.btn-active-success, .btn-group.open .dropdown-toggle.btn.btn-active-success {
            background-color: #348441 !important;
            border-color: #348441 !important;
            color: #fff !important;
        }

        .btn-success:hover, btn-radian-success:hover {
            background-color: #62C7AB;
            background: #62C7AB;
            border-color: #62C7AB;
            color: #fff;
        }

        .prompt-comment .modal-title {
            font-size: 24px;
            width: 96%;
            border-bottom: 3px solid #62C7AB;
            padding-right: 20px;
            padding-bottom: 4px;
        }

        .prompt-comment .modal-body {
            width: 98% !important;
        }

        .input-general {
            background: #fff !important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: not-allowed;
            background-color: #eee !important;
        }

        .btnCloseUE {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .footerRectangle {
            padding: 10px !important;
        }

        .UEText {
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            align-items: center;
            text-align: center;
            color: #348441;
        }


        .row-fluid {
            display: flex;
            align-items: flex-end;
        }

        /* [class^="col-"]:not(.pad-no) {
            padding-left: 2px;
            padding-right: 2px;
        }*/

        /*.col-xs-2, .col-md-2 {
            padding-right: 2px;
            padding-left: 2px;
        }*/

        .lblOptions {
            padding-left: 5px;
            padding-top: 4px;
        }

        .menuIcon {
            padding-left: 5px;
        }

        .modal-body .close, .modal-header .close {
            background-color: #348441 !important;
        }

        .btnCloseOtherDocument {
            color: #fff;
            background: #348441 !important;
            background-color: #348441 !important;
            /*border-radius: 10px !important;*/
            float: right;
            cursor: pointer;
            opacity: 100 !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 1px !important;
            padding-bottom: 2px !important;
            font-weight: normal !important;
            font-family: auto !important;
        }

        .btnSuccessOtherDocument {
            height: 33px;
            border-radius: 4px;
            margin-top: 8px;
        }
    </style>
}


<style>
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none !important;
        appearance: none !important;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff !important;
        /* Not removed via appearance */
        margin: 0 !important;
        appearance: none !important;
        background-color: #fff !important;
        margin: 0 !important;
        font: inherit !important;
        color: currentColor !important;
        width: 2em !important;
        height: 2em !important;
        border: 0.15em solid #41D78C !important;
        border-radius: 0.15em !important;
        transform: translateY(-0.075em) !important;
        margin: 10px !important;
        display: grid !important;
        place-content: center !important;
        outline: none !important;
        border-radius: 5px !important;
    }


        input[type="checkbox"]:checked {
            border: 1px solid white !important;
            background: #41D78C !important;
            border-radius: 5px !important;
        }

            input[type="checkbox"]:checked::after {
                font-family: 'FontAwesome' !important;
                /*  content:'';*/
                font-weight: 400 !important;
                content: "\F00C" !important;
                color: white !important;
                /*
    width:5px;
    height:4px;
    display:block;
    background:black;*/
            }
</style>


<div class="page-content margin-15">
    <div class="row margin-horizontal-0 margin-top-35">
        <div class="panel" style="border-radius: 5px;">

            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel margin-bottom-0" style="box-shadow: none;">
                        @using (Html.BeginForm("AddUser", "ExternalUsers", FormMethod.Post, new { id = "add-user-form" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            <input id="Page" name="Page" type="hidden" value="@Model.Page" />
                            <input type="hidden" id="listMenu" value="@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Menu)" />
                            <input type="hidden" id="hddPermissions" name="hddPermissions" />
                            <input type="hidden" id="hddMessage" name="hddMessage" value="@ViewBag.messageAction" />
                            <input type="hidden" id="hddPermissionsAsigned" name="hddPermissionsAsigned"
                                   value="@(ViewBag.PermissionList != null ? Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.PermissionList) : null)" />

                            <div class="row margin-left-20 margin-right-20">
                                <h4 class="panel-title-radian padding-0">
                                    <strong> Datos de usuario </strong>
                                </h4>
                                @*<hr class="margin-5 margin-bottom-20" />*@
                            </div>

                            @Html.Partial("_userForm")


                            <div class="row margin-left-20 margin-right-20">
                                <hr class="margin-5 margin-bottom-20" />
                            </div>
                            <div id="IdSinPermisos" class="text-center text-danger"></div>


                            <div class="row margin-left-20 margin-right-20">
                                <h4 class="panel-title-radian padding-0"><strong>Permisos</strong></h4>
                                @*<hr class="margin-5 margin-bottom-20" />*@
                            </div>
                            <div class="panel-body padding-top-0">
                                @foreach (Gosocket.Dian.Web.Models.MenuViewModel menu in ((List<Gosocket.Dian.Web.Models.MenuViewModel>)ViewBag.Menu))
                                {
                                    <div class="col-md-1" style="width:4%">
                                        @if (!string.IsNullOrEmpty(menu.Icon))
                                        {
                                            <img src="@menu.Icon" />
                                        }
                                    </div>
                                    <div id="@("divMenu" + menu.Id)" class="col-xs-2 col-md-2 form-group">
                                        <div class="form-group form-check" style="margin-bottom: 0px;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="form-check-input" id="@("chkMenu" + menu.Id)" onchange="changeAllMenu(@menu.Id)" title="@menu.Title" />
                                                    <td>
                                                        <label class="form-check-label lblOptions" for="@("chkMenu" + menu.Id)" title="@menu.Title"><strong> @menu.Name</strong></label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        @if (menu.Options != null)
                                        {
                                            foreach (Gosocket.Dian.Web.Models.SubMenuViewModel subMenu in ((Gosocket.Dian.Web.Models.MenuViewModel)menu).Options)
                                            {
                                                <div class="form-check">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" class="form-check-input" id="@("chkSubmenu" + menu.Id + "_" + subMenu.Id)" title="@subMenu.Title">
                                                            </td>
                                                            <td><label class="form-check-label lblOptions" for="@("chkSubmenu" + menu.Id + "_" + subMenu.Id)" title="@subMenu.Title">@subMenu.Name</label></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>


                            <div class="modal fade ModalSave" id="ModalSave" name="ModalSave" tabindex='-1' data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="row">

                                                <div class="col-md-12 col-lg-12">
                                                    <button type="button" class="close btnCloseUE" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <br /><br /> <br />
                                                </div>

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="UEText">
                                                        ¿<span id="idUserEdicion1"></span><br />
                                                        <span id="idUserEdicion2"></span>?
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br />
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br />
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-xs-6">
                                                    <button type="submit" class="btn btn btn-primary btn-hover-gosocket btn-default-gosocket pull-right btn-save" style="margin-right:10px">Aceptar</button>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-xs-6">
                                                    <button type="button" class="btn btn-secondary btn-hover-gosocket btn-radian-success" style="margin-left:10px" data-dismiss="modal" aria-label="Close">
                                                        Cancelar
                                                    </button>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br /><br />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade ModalGenerico" id="ModalGenerico" name="ModalAfilmacion" tabindex='-1' data-keyboard="false">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <button type="button" class="close btnCloseUE" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <br /><br />
                                                </div>

                                                <div class="col-md-12 col-lg-12">
                                                    <div style="font-size: 80px; text-align:center;">
                                                        <i class="fa fa-check-circle iconcheckcircle"></i>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-lg-12">
                                                    <div class="UEText">
                                                        <span id="idTextoModal1"></span> <br />
                                                        <span id="idTextoModal2"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-12">
                                                    <br /><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="footerRectangle" style="background-color: none !important;">
            @*@Html.ActionLink("Nuevo", "Add@*User", "ExternalUsers", null, new { @class = "btn btn-default" })
                <button type="button" class="btn btn-danger btn-hover-gosocket btn-active" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive()">@ViewBag.txtActive</button>
                <button type="submit" class="btn btn-success btn-hover-gosocket btn-save">@ViewBag.txtAccion</button>*@
            <div class="footerRectangle">
                <button type="button" id="btnAbrirModalConfirmacion" name="btnAbrirModalConfirmacion" class="btn btn-primary ">
                    @ViewBag.txtAccion
                </button>
                @Html.ActionLink("Volver", "AddUser", new { id = "" }, new { @class = "btn btn-secondary" })
                @*<a href="/ExternalUsers/AddUser" class="btn btn-default btn-radian-default cancel-register">Cancelar</a>*@
            </div>
        </div>
        <div class="panel" style="border-radius: 5px; background-color: initial;">
            @if (Model.Id == null || Model.Id == "")
            {

                <div class="panel-body" style="background-color: initial; padding: 0px; margin-top: 10px;">
                    <div class="row">
                        <div class="col-lg-12  col-md-12  col-xs-12">
                            <h4 class="subtitle-view" style="margin-bottom:20px;"><strong> Usuarios Configurados</strong></h4>

                        </div>
                        @*<div class="col-lg-12  col-md-12  col-xs-12 radian-subtitle-line">
                            </div>*@
                    <div class="col-lg-12 col-md-12  col-xs-12">
                        <div class="table-responsive">

                            <table class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
                                <thead>
                                    <tr>
                                        <th class="text-left">Nombre</th>
                                        <th class="text-left">Número de documento</th>
                                        <th class="text-left">Fecha de creación</th>
                                        <th class="text-left">Fecha última modificación</th>
                                        <th class="text-left">Estado</th>
                                        <th class="text-left">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.ExternalUsersList != null)
                                    {
                                        //List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel> listDocsTypesLis = (List<Gosocket.Dian.Web.Models.IdentificationTypeListViewModel>)ViewBag.IdentificationTypesList;
                                        foreach (var item in (List<Gosocket.Dian.Web.Models.ExternalUserViewModel>)ViewBag.ExternalUsersList)
                                        {
                                            <tr>
                                                <td class="text-left">@item.Names</td>
                                                @*<td>@listDocsTypesLis.FirstOrDefault(i => i.Id == item.IdentificationTypeId).Description</td>*@
                                                <td class="text-center">@item.IdentificationId</td>
                                                @if (item.CreationDate.HasValue)
                                                {
                                                    <td class="text-center">@item.CreationDate.Value.ToString("dd-MM-yyyy")</td>
                                                }
                                                else
                                                {
                                                    <td> </td>
                                                }
                                                <td class="text-center">@item.LastUpdated.ToString("dd-MM-yyyy")</td>
                                                <td class="text-center">@(item.Active == 1 ? "Activo" : "Inactivo")</td>
                                                <td class="text-center">

                                                    <button class="btn btn-xs add-tooltip" data-tooltip="tooltip" data-placement="bottom" title="Editar usuario">    @Html.ActionLink(" ", "AddUser", new { id = item.Id }, new { @class = "fa fa-pencil" })</button>
                                                    &nbsp;
                                                    <button class="btn add-tooltip" data-tooltip="tooltip" data-placement="bottom" title="Activar / Desactivar usuario" style="background:white;">
                                                        @if (item.Active == 1)
                                                        {
                                                            <a class="fa fa-toggle-on" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive('@item.Id', @item.Active, '@item.Email')"></a>
                                                        }
                                                        else
                                                        {
                                                            <a class="fa fa-toggle-off" data-toggle="modal" data-target="#dialogConfirmActive" onclick="confirmActive('@item.Id', @item.Active, '@item.Email')"> </a>
                                                        }
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <!--Paginacón de la tabla-->
                        <!-- <div class="pull-right table-pagination padding-top-10">
         @if (Model.Users.Count > 0)
         {
             <span class="text-muted">
                 <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Users.Count ? (Model.Page) * Model.Length + Model.Users.Count : (Model.Page + 1) * Model.Length)</strong>
             </span>
             <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                 <a class="btn btn-default paginate-btn prev-page"
                    href="@Url.Action("AddUser", "ExternalUsers", new { id = Model.Id, Page = Model.Page - 1 })"
                    @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                     <span class="fa fa-chevron-left"></span>
                 </a>
                 <a class="btn btn-default paginate-btn next-page"
                    href="@Url.Action("AddUser", "ExternalUsers", new { id = Model.Id, Page = Model.Page + 1 })"
                    @(Model.Users.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                     <span class="fa fa-chevron-right"></span>
                 </a>
             </div>
         }
     </div>-->

                    </div>
                    </div>
                </div>}
        </div>
    </div>
</div>


<div class="modal fade prompt-comment" id="dialogConfirmActive" tabindex="-1" aria-labelledby="dialogConfirmActiveLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding-right: 12px;">
            <div class="modal-header">
                <!--<h5 class="modal-title" style="margin-left: 8px;" id="dialogConfirmActiveLabel">¿Desea inactivar/activar al usuario?</h5>-->
                <div class="row title-container" style="margin-left: 8px;">
                    <p class="title-view" id="dialogConfirmActiveLabel" style="font-size: 24px !important;">
                        ¿Desea inactivar/activar al usuario?
                    </p>
                    <div class="underline-title"></div>
                </div>
                <button type="button" class="close btnCloseOtherDocument" data-dismiss="modal" aria-label="Close" style="margin-top:4px">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-left: 1px !important;display: block;">

                <table class="margin-top-3 margin-left-15">
                    <tr>
                        <td><label id="lblActionActive" name="lblActionActive" class="control-label" style="margin-left: 7px;"></label></td>
                    </tr>
                    <tr>
                        <td class="col-md-12 col-lg-12" style="padding-right: 23px;">
                            <textarea type="text" id="txtActiveDescription" cols="4" rows="4" maxlength="150" class="form-control input-general fields captureFields" style="min-height: 96px;" placeholder="Escriba aquí..."></textarea>
                        </td>
                        <td style="vertical-align: bottom;">
                            <button id="btnOkActive" type="button" data-dismiss="modal" class="btn btn-success btn-radian-success btnSuccessOtherDocument">Activar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var listMenu;
        var userId = "";
        var reloadView = false;
        var listPermisionsAsigned;
        var userActive = "";
        var userActiveEmail = "";

        $(document).ready(function ($) {

            var formu = $('#add-user-form');
            userId = $("#Id").val();
            reloadView = false;

            if(userId.length > 0)
                $(".btn-active").show();
            else
                $(".btn-active").hide();

            listMenu = JSON.parse($("#listMenu").val());

            $('.btn-save').click(function () {
                var form = $('#add-user-form');
                if (form.valid()) {
                    $('#page').val(0);
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');

                    var permissions = getPermissions();

                    $('#hddPermissions').val(permissions);
                    HideModalSave();
                    //form.submit();
                }
            });

            $('#btnAbrirModalConfirmacion').click(function () {
                var form = $('#add-user-form');
                $("#IdSinPermisos").text("");
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    var permissions = getPermissions();
                    if (permissions === "[]") {
                        hideLoading('#panel-form');
                        var sms = 'Seleccione mínimo un permiso para el Usuario';
                        ErrorDialogV2("¡Notificación!", sms);
                    }
                    else {
                        var model = {
                            ID: $('#Id').val(),
                            Names: $('#Names').val(),
                            Email: $('#Email').val(),
                            IdentificationTypeId: $('#IdentificationTypeId').val(),
                            IdentificationId: $('#IdentificationId').val()
                        };

                        $.ajax({
                            url: "@Url.Action("ValidateExistsUserExternal", "ExternalUsers")",
                            type: "POST",
                            data: model,
                            datatype: "json",
                            success: function (result) {
                                hideLoading('#panel-form');
                                if (result.smsresult != '') {
                                    var sms = result.smsresult;
                                    ErrorDialogV2("¡Notificación!", sms);
                                }
                                else {
                                    showModalSave();
                                    hideLoading('#panel-form');
                                }
                            },
                            complete: function () { },
                            error: function (result) {
                                hideLoading('#panel-form');
                                ErrorDialogV2("¡Notificación!", "Error de conexión al intentar obtener al valdiación del usuario externo");
                                console.log(result.status + ' ' + result.statusText);
                                return false;
                            }
                        });  //ajax


                    }
                }
            });


            $("#btnOkActive").click(function () {

                $.ajax({
                    url: "@Url.Action("UpdateActive","ExternalUsers")",
                    type: "POST",
                    data: {
                        userId: userActive, active: $("#btnOkActive").text(), activeDescription: $("#txtActiveDescription").val(), email: userActiveEmail },
                    datatype: "json",
                    success: function (res) {
                        if (res.StatusCode == 'OK') {
                            reloadView = true;

                            clickOpenModalGenerico($("#btnOkActive").text());
                        }
                        else
                            reload = false;

                    },
                    complete: function () {

                    },
                    error: function (result) {

                        $.niftyNoty({
                            type: "danger",
                            container: "floating",
                            title: "Mensaje",
                            message: "Error desconocido al actulizar el estado del Usuario",
                            closeBtn: false,
                            timer: 5000
                        });
                    }
                });  //ajax

            });

            $("#btnCancelActive").click(function () {
                $('#dialogConfirmActive').alert('close');
            });

            if ($("#hddPermissionsAsigned").val() != null && $("#hddPermissionsAsigned").val() != "") {

                listPermisionsAsigned = JSON.parse($("#hddPermissionsAsigned").val());

                for (i = 0; i < listMenu.length; i++) {
                    console.log('Menu: ' + listMenu[i].Id + ' ' + listMenu[i].Name);
                    if (listMenu[i].Options != null && listMenu[i].Options.length > 0) {
                        for (j = 0; j < listMenu[i].Options.length; j++) {

                            var asigned = validSubMenuAsigned(listMenu[i].Options[j].Id);

                            if (asigned) {
                                $("#chkSubmenu" + listMenu[i].Id + "_" + listMenu[i].Options[j].Id).prop("checked", "checked");
                                $("#chkMenu" + listMenu[i].Id).prop("checked", "checked");
                            }
                        }
                    }
                    else {
                        if (validMenuWithoutSubMenu(listMenu[i].Id)) {
                            $("#chkMenu" + listMenu[i].Id).prop("checked", "checked")
                        }
                    }
                }
            }

            if ($("#hddMessage").val() != null && $("#hddMessage").val() != '') {
                if ($("#hddMessage").val() == "Usuario actualizado exitosamente!" || $("#hddMessage").val() == "Usuario Registrado exitosamente!") {
                    if  ($("#Id").val().length > 0) clickOpenModalGenerico('Edicion');
                    else clickOpenModalGenerico('Creacion');
                    document.getElementById("hddMessage").value = '';
                }
            }


            $("#ModalGenerico").on("hidden.bs.modal", function () {
                reloadPage();
            });


            // Pagination
            $('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
            });
            // Pagination

        });//ready

        function validMenuWithoutSubMenu(menuId) {
            var menuSelected = false;

            for (z = 0; z < listPermisionsAsigned.length; z++) {
                if (menuId == listPermisionsAsigned[z].MenuId && (listPermisionsAsigned[z].SubMenuId == 0 || listPermisionsAsigned[z].SubMenuId == null)) {
                    menuSelected = true;
                    break;
                }
            }

            console.log('menuId: ' + menuId + ', sin SubMenuId: ' + menuSelected);

            return menuSelected;
        }

        function validSubMenuAsigned(subMenuId) {
            var asigned = false;

            for (z = 0; z < listPermisionsAsigned.length; z++) {
                if (subMenuId == listPermisionsAsigned[z].SubMenuId) {
                    asigned = true;
                    break;
                }
            }

            return asigned;
        }

        function changeAllMenu(menuId) {

            var checked = $("#chkMenu" + menuId).prop("checked");

            for (i = 0; i < listMenu.length; i++) {

                if (listMenu[i].Id == menuId && listMenu[i].Options != null) {
                    for (j = 0; j < listMenu[i].Options.length; j++) {
                        $("#chkSubmenu" + menuId + "_" + listMenu[i].Options[j].Id).prop("checked", checked);
                    }
                }
            }

        }

        function getPermissions() {

            var arrPermissions = [];

            $.each(listMenu, function (index, value) {
                if (value.Options != null && value.Options.length > 0) {
                    for (j = 0; j < listMenu[index].Options.length; j++) {

                        if ($("#chkSubmenu" + listMenu[index].Id + "_" + listMenu[index].Options[j].Id).prop("checked")) {

                            arrPermissions.push({
                                MenuId: listMenu[index].Id,
                                SubMenuId: listMenu[index].Options[j].Id
                            });

                        }
                    }
                }
                else {

                    console.log("menuId: " + listMenu[index].Id + ', checked: ' +  $("#menu" + listMenu[index].Id).prop("checked"));

                    //Valido si la opcion de Menu que NO tiene SubMenu tiene la opción Todos seleccionada
                    if($("#chkMenu" + listMenu[index].Id).prop("checked")){
                        arrPermissions.push({
                            MenuId: listMenu[index].Id,
                            SubMenuId: 0
                        });
                    }
                }

            });

            return JSON.stringify(arrPermissions);
        }

        function reloadPage() {
            location.href = "@Url.Action("AddUser","ExternalUsers", new { id = "" , Page = Model.Page })";
        }

        function showModalSave() {
            if ($("#Id").val().length > 0)
                $("#idUserEdicion1").text("Desea editar el usuario");
            else
                $("#idUserEdicion1").text("Desea crear al usuario");
            $("#idUserEdicion2").text($("#Names").val());
            $("#ModalSave").modal('show');
        }

        function confirmActive(userActiveId, accionActive, emailActive) {
            userActive = userActiveId;
            userActiveEmail = emailActive;

            if (accionActive == 0) {
                $('#lblActionActive').text('Describa el motivo de la activación');
                $("#btnOkActive").text('Activar');
                $('#dialogConfirmActiveLabel').text('¿Esta seguro de realizar la activación?');
            }
            else {
                $('#lblActionActive').text('Describa el motivo de la inactivación');
                $("#btnOkActive").text('Inactivar');
                $('#dialogConfirmActiveLabel').text('¿Esta seguro de realizar la inactivación?');
            }
        }

        function clickOpenModalGenerico(TipoAfimacion) {
            if (TipoAfimacion == 'Creacion')
            {
                $('#idTextoModal1').text('El usuario fue');
                $('#idTextoModal2').text('creado exitosamente');
            }

            if (TipoAfimacion == 'Edicion') {
                $('#idTextoModal1').text('El usuario fue');
                $('#idTextoModal2').text('editado exitosamente');
            }

            if (TipoAfimacion == 'Activar') {
                $('#idTextoModal1').text('El usuario fue');
                $('#idTextoModal2').text('Activado correctamente');
            }

            if (TipoAfimacion == 'Inactivar') {
                $('#idTextoModal1').text('El usuario fue');
                $('#idTextoModal2').text('Inactivado correctamente');
            }
            showModalGenerico();
        }



        function HideModalSave() {
            $("#ModalSave").modal('hide');
        }

        function showModalGenerico() {
            $("#ModalGenerico").modal('show');
        }
        function HideModalAfilmacion() {
            $("#ModalGenerico").modal('hide');
        }

    </script>
}
