<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DIAN | @ViewBag.Title</title>

    <meta name="description" content="dian">
    <meta name="keywords" content="dian" />
    <meta name="author" content="Gosocket Corp SpA">
    <link rel="shortcut icon" href="~/Content/img/favicon_dian.ico">

    <link href="~/Content/css/nifty.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="~/Content/css/login.css?v=1.0.6" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/login-new-styles.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/app-new-style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800" rel="stylesheet" type="text/css">
</head>
<body>

    @Html.Partial("_header", "")

    @RenderBody()

    @Html.Partial("_footer")

    @Html.Partial("_ConfirmModal")

    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/common/common.js"></script>
    <script src="~/Content/js/nifty.js"></script>

    @*<script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">



    </script>
    @Html.Partial("_LoadingPage")
</body>
</html>