@model Gosocket.Dian.Web.Models.TestSetResultViewModel
@using Gosocket.Dian.Domain.Common
@{
    ViewBag.Title = $"Detalle de set de pruebas - {Model.OperationModeName}";
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel padding-20">

            @if (Model.Status == (int)TestSetStatus.InProcess)
            {
                <div class="dian-alert dian-alert-warning">
                    <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                    <p>
                        <strong>¡Importante!</strong> <br>
                        Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuentra <strong style='font-size: 14px; font-weight: bold;'>@Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(TestSetStatus.InProcess)</strong>.<br />
                        Usted debe proporcionar el identificador del set de pruebas (TestSetId) <strong style="font-size: 14px; font-weight: bold;">@Model.Id</strong> en el web services para el envío de su set de pruebas.
                    </p>
                </div>
            }
            @if (Model.Status == (int)TestSetStatus.Accepted)
            {
                <div class="dian-alert dian-alert-success">
                    <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                    <p>
                        <strong>¡Importante!</strong> <br>
                        Su empresa ha superado satisfactoriamente las pruebas de validación de su set de pruebas.
                    </p>
                </div>
            }
            @if (Model.Status == (int)TestSetStatus.Rejected)
            {
                <div class="dian-alert dian-alert-success">
                    <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                    <p>
                        <strong>¡Importante!</strong> <br>
                        Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuentra <strong style='font-size: 14px; font-weight: bold;'>@Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(TestSetStatus.Rejected)</strong>.<br />
                        Usted debe reiniciar el proceso para poder poder enviar nuevos documentos a su set de pruebas con indentificador <strong style="font-size: 14px; font-weight: bold;">@Model.Id</strong>
                    </p>
                </div>
            }

            <div class="panel-body" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
                <div id="chart" style="height:320px; margin: 0 auto"></div>
            </div>
            
            <a href="@Url.Action("View", "TestSet", new {operationModeId = Model.OperationModeId, contributorId = Model.ContributorId, contributorCode = Model.ContributorCode, softwareId = Model.SoftwareId })" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        $(document).ready(function ($) {
            LoadData();
        });



            function LoadData() {
            Highcharts.chart('chart', {
                chart: {
                    type: 'column'
                },
                credits: {
                    enabled: false
                },
                navigation: {
                    buttonOptions: {
                        enabled: false
                    }
                },
                title: {
                    text: 'Resumen documentos recibidos y aceptados para el set de pruebas'
                },
                xAxis: {
                    categories: [
                        'Documentos',
                        'Facturas',
                        'Nota de crédito',
                        'Nota de débito'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Totales'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    margin: 32,
                    symbolRadius: 0,
                    x: 0,
                    y: 12
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                }, colors: ['#FED064', '#C98802', '#41D78C', '#00B4DC', '#F54E41'],
                series: [{
                    name: 'Requeridos',
                    data: [@Model.TotalDocumentRequired,@Model.InvoicesTotalRequired,@Model.TotalCreditNotesRequired,@Model.TotalDebitNotesRequired]

                }, {
                        name: 'Min. requerido aceptado',
                    data: [@Model.TotalDocumentAcceptedRequired, @Model.TotalInvoicesAcceptedRequired, @Model.TotalCreditNotesAcceptedRequired,@Model.TotalDebitNotesAcceptedRequired]

                }, {
                        name: 'Recibidos',
                    data: [@Model.TotalDocumentSent, @Model.InvoicesTotalSent,@Model.TotalCreditNotesSent,@Model.TotalDebitNotesSent]

                }, {
                        name: 'Aceptados',
                    data: [@Model.TotalDocumentAccepted,@Model.TotalInvoicesAccepted,@Model.TotalCreditNotesAccepted,@Model.TotalDebitNotesAccepted]

                }, {
                        name: 'Rechazados',
                    data: [@Model.TotalDocumentsRejected, @Model.TotalInvoicesRejected,@Model.TotalCreditNotesRejected,@Model.TotalDebitNotesRejected]

                }]
            });
            }


    </script>

}