@model Gosocket.Dian.Web.Models.TestSetViewModel
@using Gosocket.Dian.Web.Common
@using Gosocket.Dian.Domain.Common
@{
    ViewBag.Title = "Set de pruebas";
}
@section css{
    <style>
        .fa-caret-down {
            display: none;
        }
    </style>
}

<div class="page-content margin-15">
    
    <div class="row margin-horizontal-0">
        <div class="panel padding-20">


            @if (!User.IsInAnyRole("Administrador", "Super") && !string.IsNullOrEmpty(Model.TestSetId))
            {
                if (Model.Status == (int)TestSetStatus.InProcess)
                {
                    <div class="dian-alert dian-alert-warning">
                        <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                        <p>
                            <strong>¡Importante!</strong> <br>
                            Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuentra <strong style='font-size: 14px; font-weight: bold;'>@Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(TestSetStatus.InProcess)</strong>.<br />
                            Usted debe proporcionar el identificador del set de pruebas (TestSetId) <strong style="font-size: 14px; font-weight: bold;">@Model.TestSetId</strong> en el web services para el envío de su set de pruebas.
                        </p>
                    </div>
                }
                if (Model.Status == (int)TestSetStatus.Accepted)
                {
                    <div class="dian-alert dian-alert-success">
                        <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                        <p>
                            <strong>¡Importante!</strong> <br>
                            Su empresa ha superado satisfactoriamente las pruebas de validación de su set de pruebas.
                        </p>
                    </div>
                }
                if (Model.Status == (int)TestSetStatus.Rejected)
                {
                    <div class="dian-alert dian-alert-danger">
                        <i class="fa fa-info-circle" style="margin-right: 15px;"></i>
                        <p>
                            <strong>¡Importante!</strong> <br>
                            Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuentra <strong style='font-size: 14px; font-weight: bold;'>@Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(TestSetStatus.Rejected)</strong>.
                            Usted debe reiniciar el proceso para poder poder enviar nuevos documentos a su set de pruebas con indentificador <strong style="font-size: 14px; font-weight: bold;">@Model.TestSetId</strong>
                        </p>
                    </div>
                }
            }

            <div class="panel-body">
                <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="">
                    @Html.Partial("_form")
                    <div class="panel-footer text-left">
                        @if (User.IsInAnyRole("Administrador", "Super"))
                        {
                            <a href="@Url.Action("Edit", "TestSet", new { operationModeId = Model.OperationModeId })" class="btn btn-primary btn-hover-gosocket">Editar</a>
                            <a href="@Url.Action("List", "TestSet")" class="btn btn-secondary">Volver</a>
                        }
                        else if (User.ContributorTypeId() == (int)ContributorType.Biller || User.ContributorTypeId() == (int)ContributorType.BillerNoObliged)
                        {
                            <a href="@Url.Action("Tracking", "TestSet", new { contributorCode = ViewBag.ContributorCode, softwareId = ViewBag.SoftwareId, contributorTypeId = User.ContributorTypeId() })" class="btn btn-primary btn-hover-gosocket">Detalles</a>
                            <a href="@Url.Action("ConfigureOperationModes", "Contributor", new { id = ViewBag.ContributorId })" class="btn btn-secondary">Volver</a>
                        }
                        else if (User.ContributorTypeId() == (int)ContributorType.Provider)
                        {
                            <a href="@Url.Action("Tracking", "TestSet", new { contributorCode = ViewBag.ContributorCode, softwareId = ViewBag.SoftwareId, contributorTypeId = User.ContributorTypeId() })" class="btn btn-primary btn-hover-gosocket">Detalles</a>
                            <a href="@Url.Action("Check", "Contributor")" class="btn btn-secondary">Volver</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {
            $('.fields').attr('readonly', true);

            $('#OperationModeId').attr('disabled', 'disabled');
        });

    </script>
}
