@model Gosocket.Dian.Web.Models.ContributorViewModel
@using Gosocket.Dian.Domain.Common
@using Gosocket.Dian.Infrastructure
@{
    var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" }, { "readonly", "readonly" } };
    var env = ConfigurationManager.GetValue("Environment");
    var readOnlyHtmlAttr = new Dictionary<string, object> { { "class", "form-control" }, { "readonly", "readonly" } };
    if (Model.AcceptanceStatusId == (int)ContributorStatus.Pending)
    {
        readOnlyHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };
    }
    var resolutionGloss = ConfigurationManager.GetValue("ResolutionGloss");
}

<div class="row">
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.AcceptanceStatusName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.AcceptanceStatusName, defaultHtmlAttr)
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.ExchangeEmail, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.ExchangeEmail, readOnlyHtmlAttr)
            @Html.ValidationMessageFor(m => m.ExchangeEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (Model.AcceptanceStatusId == (int)ContributorStatus.Enabled && (env == "Hab" || env == "Test"))
    {
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ProductionDate, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProductionDate, readOnlyHtmlAttr)
            </div>
        </div>
    }

</div>
<div class="row">
    <div class="dian-alert dian-alert-info" style="width: 50%; display: inline-block;">
        <h4 style="display: flex;align-content: center;flex-direction: row;align-items: center;"><i class="fa fa-info-circle" aria-hidden"true"="" style="margin:0px 10px;"></i><b style="font-size:16px;">Importante!</b></h4>
        <p style="font-size: 14px;margin:10px">@Html.Raw(resolutionGloss)</p>
        <p style="margin: 0px 15px;">
            <strong><a class="custom-alert-link" href="@Url.Action("DownloadResolutions", "Contributor")">Para mayor información descargue la resolución aquí.</a></strong>
        </p>
    </div>
</div>