@model Gosocket.Dian.Web.Models.ContributorViewModel
@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };}
<div class="row">
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.Code, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Code, defaultHtmlAttr)
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, defaultHtmlAttr)
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.BusinessName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.BusinessName, defaultHtmlAttr)
            @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
</div>