@model Gosocket.Dian.Web.Models.ContributorTableViewModel
@using Gosocket.Dian.Web.Utils
@using Gosocket.Dian.Web.Common

<div class="table-responsive">
    <table class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
        <thead>
            <tr>
                <th>NIT</th>
                <th>Nombre Comercial</th>
                <th>Razón Social</th>
                <th>Estado</th>
                <th class="text-center">Inicio Autorización</th>
                <th class="text-center">Término Autorización</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contributor in Model.Contributors)
            {
                var textClass = DataUtils.GetProviderStatusStyle(contributor.AcceptanceStatusId);
                var isClickableRow = User.IsInAnyRole("Administrador", "Super") ? "clickable-row" : "";
                var urlView = User.IsInAnyRole("Administrador", "Super") ? Url.Action("View", "Contributor", new { id = contributor.Id }) : "";
                <tr class='@isClickableRow' data-href="@urlView">
                    <td class="smallText iffyTip"><a>@contributor.Code</a></td>
                    <td class="largeText iffyTip"><a>@contributor.Name</a></td>
                    <td class="largeText iffyTip"><a>@contributor.BusinessName</a></td>
                    <td class="largeText iffyTip">
                        <a><i class="fa fa-circle @textClass"></i>&nbsp;@contributor.AcceptanceStatusName</a>
                    </td>
                    <td class="smallText text-center">
                        @if (contributor.StartDate.HasValue)
                        {
                            <a>@contributor.StartDate.Value.ToString("dd-MM-yyyy")</a>
                        }
                    </td>
                    <td class="smallText text-center">
                        @if (contributor.EndDate.HasValue)
                        {
                            <a>@contributor.EndDate.Value.ToString("dd-MM-yyyy")</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>