@model Gosocket.Dian.Web.Models.ContributorTableViewModel
@using Gosocket.Dian.Web.Common
@using Gosocket.Dian.Domain.Common;
@using Gosocket.Dian.Infrastructure
@{
    var env = ConfigurationManager.GetValue("Environment");
    switch (int.Parse(Model.Type))
    {
        case (int)ContributorType.Biller:
            ViewBag.Title = "Listado de facturadores electrónicos";
            break;
        case (int)ContributorType.AuthorizedProvider:
            ViewBag.Title = "Listado de proveedores autorizados";
            break;
        case (int)ContributorType.Provider:
            ViewBag.Title = "Listado de proveedores tecnológicos";
            break;
        default:
            ViewBag.Title = "Listado de contribuyentes";
            break;
    }
}

@section css
{
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/Content/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Content/plugins/chosen/chosen.min.css" rel="stylesheet">

    <style>
    </style>
}


@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };}

    <div class="page-content margin-15">
        <div class="row margin-horizontal-0">
            
            <div class="panel" style="background: transparent;">


                <div class="panel-body padding-top-20">
                    @if (User.IsInAnyRole("Administrador", "Super") && env == "Test")
                    {
                        <div class="form-inline padding-bottom-10">
                            <div class="row margin-horizontal-0">
                                <div class="col-sm-12 table-toolbar-left padding-left-0">
                                    <a href="@Url.Action("Add", "Contributor", new { type = Model.Type })" class="btn btn-success btn-radian-success"> Agregar</a>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="pad-btm padding-bottom-0">
                        <div class="row margin-horizontal-0">
                            @using (Html.BeginForm("List", "Contributor", FormMethod.Post, new { id = "contributors-form" }))
                            {
                                @Html.HiddenFor(m => m.Page)
                                @Html.HiddenFor(m => m.Type)

                                <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                    <div class="col-md-12 padding-horizontal-0">
                                        <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian">

                                            <div class="panel-body" style="padding:20px;">
                                                <div class="row">
                                                    <div class="col-sm-3 padding-xs-0">
                                                        <div class="form-group">
                                                            @Html.LabelFor(m => m.Code, new { @class = "control-label" })
                                                            @Html.TextBoxFor(m => m.Code, defaultHtmlAttr)
                                                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-left" style="padding-left: 20px;padding-bottom: 30px;">
                                                <button type="button" class="btn btn-secondary btn-hover-gosocket btn-search text-left">Buscar</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-horizontal-0">
                                    <div class="col-md-9 table-toolbar-left padding-left-0">
                                    </div>
                                    <!-- <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
                         @if (Model.Contributors.Count > 0)
                         {
                             <span class="text-muted">
                                 <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Contributors.Count ? (Model.Page) * Model.Length + Model.Contributors.Count : (Model.Page + 1) * Model.Length)</strong>
                             </span>
                             <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                 <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                     <span class="fa fa-chevron-left"></span>
                                 </a>
                                 <a class="btn btn-default paginate-btn next-page" @(Model.Contributors.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                     <span class="fa fa-chevron-right"></span>
                                 </a>
                             </div>
                         }
                     </div>-->
                                </div>
                            }
                        </div>
                    </div>

                    @Html.Partial("_items")

                    @if (Model.Contributors.Count == 0)
                    {
                        <div class="alert dataTables_empty text-center contributor-alert">
                            Ningún resultado disponible para mostrar.
                        </div>
                    }

                    <!--<div class="pull-right table-pagination padding-top-10">
                        @if (Model.Contributors.Count > 0)
                        {
                            <span class="text-muted">
                                <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Contributors.Count ? (Model.Page) * Model.Length + Model.Contributors.Count : (Model.Page + 1) * Model.Length)</strong>
                            </span>
                            <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                    <span class="fa fa-chevron-left"></span>
                                </a>
                                <a class="btn btn-default paginate-btn next-page" @(Model.Contributors.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                    <span class="fa fa-chevron-right"></span>
                                </a>
                            </div>
                        }
                    </div>-->

                </div>
            </div>

        </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var form = $('#contributors-form');
            $("#Code").focus();

            if (@Model.Contributors.Count == 0) {
                $('.table-responsive').css('display', 'none');
            }

            $('#Code').keyup(function (event) {
                event.preventDefault();
                if (event.which === 13)
                    if (form.valid()) {
                        $('#Page').val(0);
                        $('#Type').val('@ViewBag.Type');
                        form.submit();
                    }
            });

            $('.btn-search').click(function () {
                $('#Page').val(0);
                showLoading('#panel-form', 'Cargando', 'Buscando datos, por favor espere.');
                $(this).attr('disabled', 'disabled');
                $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                $('.table-pagination').css('display', 'none');
                $('.table-responsive').css('display', 'none');
                form.submit();
            });

            // Pagination
            $('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
                form.submit();
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
                form.submit();
            });
            // Pagination
        });

        $(document).on('mouseenter', ".iffyTip", function () {
            var $this = $(this);
            if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
                $this.tooltip({
                    title: $this.text(),
                    placement: "bottom",
                    container: "body"
                });
                $this.tooltip('show');
            }
        });
    </script>
}
