@model Gosocket.Dian.Web.Models.ContributorViewModel
@using Gosocket.Dian.Domain.Common;
@using Gosocket.Dian.Web.Common

@{
                /**/

                ViewBag.Title = "Estado proveedor tecnológico";
}
<link href="../Content/css/wizard.css" rel="stylesheet" />


<div class="page-content margin-15">
    <div class="row margin-horizontal-0">

        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-wizard" data-target="#panel-wizard" data-toggle="panel-overlay" class="panel panel-bordered-default margin-bottom-0">

                        <div class="panel-body padding-20 padding-bottom-10">

                            <div class="tabbable">
                                <ul class="nav nav-tabs wizard">
                                    <li id="li-step-0"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">1</span>Ingreso de solicitud</a></li>
                                    <li id="li-step-1"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">2</span>Pendiente</a></li>
                                    <li id="li-step-2"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">3</span>Validando documentos</a></li>
                                    <li id="li-step-4"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">4</span>Pruebas de aceptación</a></li>
                                    <li id="li-step-5"><a data-toggle="tab" aria-expanded="false"><span class="nmbr">5</span><span id="li-step-5-text">Finalizado</span></a></li>
                                </ul>
                            </div>

                            <hr />



                            @if (Model.TestSetStatus == (int)TestSetStatus.Rejected)
                            {
                                <br />
                                <div class="panel-bordered-dian">
                                    <div class="panel-body ">
                                        @Html.AntiForgeryToken()
                                        @Html.Partial("_default")
                                        @Html.Partial("_finished")
                                    </div>
                                    <div class="text-left">
                                        <a href="@Url.Action("View", "TestSet", new { operationModeId = Model.OperationModeId, contributorId = User.ContributorId(), contributorCode = User.ContributorCode(), softwareId = Model.Software.Id })" class="btn btn-default">Set de Pruebas</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-reset-certification">Reiniciar</a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @Html.Partial("_default")
                            }

                            @if (Model.AcceptanceStatusId == (int)ContributorStatus.Pending)
                            {
                                <br />
                                @Html.Partial("_files")
                            }
                            @if (Model.AcceptanceStatusId == (int)ContributorStatus.Registered && Model.TestSetStatus != (int)TestSetStatus.Rejected)
                            {
                                <div class="panel-footer text-right">
                                    <a href="@Url.Action("View", "TestSet", new { operationModeId = Model.OperationModeId, contributorId = User.ContributorId(), contributorCode = User.ContributorCode(), softwareId = Model.Software?.Id })" class="btn btn-default">Set de Pruebas</a>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function ($) {
            disableFields();
            $('.software').css('display', '');

            if ('@Model.AcceptanceStatusId' === '@((int)ContributorStatus.Pending)') {
                $('#li-step-2').addClass("active");
                $('#li-step-2').prevAll().addClass("completed");
            }
            if ('@Model.AcceptanceStatusId' === '@((int)ContributorStatus.Registered)' && '@Model.TestSetStatus' === '@((int)TestSetStatus.InProcess)') {
                $('#li-step-4').addClass("active");
                $('#li-step-4').prevAll().addClass("completed");
            }
            if ('@Model.AcceptanceStatusId' === '@((int)ContributorStatus.Registered)' && '@Model.TestSetStatus' === '@((int)TestSetStatus.Accepted)') {
                $('#li-step-5').addClass("active");
                $('#li-step-5').prevAll().addClass("completed");
            }

            @*if ('@Model.AcceptanceStatusId' === '@((int)ContributorStatus.Cancelled)') {
                $('#li-step-5').addClass("rejected");
                $('#li-step-5').prevAll().addClass('completed');
                $('#li-step-5-text').text('Rechazado');
                $('#li-step-@((int)ContributorStatus.Enabled)').prevAll().addClass('completed');
                $('#li-step-@((int)ContributorStatus.Enabled)').addClass("rejected");
            }*@

            if ('@Model.TestSetStatus' === '@((int)TestSetStatus.Rejected)') {
                $('#li-step-@((int)ContributorStatus.Enabled)').prevAll().addClass('completed');
                $('#li-step-@((int)ContributorStatus.Enabled)').addClass("rejected");
            }

            if ('@(Model.Software != null)' === 'True') {
                $('#Software_Name').attr('readonly', true);
                $('#Software_Url').attr('readonly', true);
                $('#Software_SoftwareUser').attr('readonly', true);
                $('#Software_SoftwarePassword').attr('readonly', true);
                $('.btn-save').attr('disabled', true);
            }

            $('.btn-reset-certification').click(function () {
                ConfirmDialogV2("Advertencia", `<strong>¿Está seguro que desea reiniciar la set de pruebas?</strong> <br>
                    Al realizar esta acción deberá enviar otro set de pruebas con documentos diferentes. <br>
                    Todas las estadísticas de la certificación anterior serán reiniciadas.`,
                    { confirm: "Aceptar", cancel: "Cancelar" },
                    resetCertification);

                //bootbox.dialog({
                //    title: "Advertencia",
                //    message: "<div class='media'><div class='media-body'>" +
                //        "<h4 class='text-thin'><strong>Está seguro que desea reiniciar la set de pruebas?</strong></h4>" +
                //        "Al realizar esta acción deberá enviar otro set de pruebas con documentos diferentes.<br>" +
                //        "Todas las estadísticas de la certificación anterior serán reiniciadas." +
                //        "</div></div>",
                //    buttons: {
                //        del: {
                //            label: "Aceptar",
                //            className: "btn-gosocket",
                //            callback: function () {
                //                resetCertification()
                //            }
                //        },
                //    }
                //});
            });
        });

        function resetCertification() {
            showLoading('#panel-form', 'Configuración', 'Procesando datos, por favor espere.');
            var __RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: "@Url.Action("ResetCertification", "Contributor")",
                method: "Post",
                data: {
                    __RequestVerificationToken: __RequestVerificationToken,
                    id: '@User.ContributorId()'
                },
                error: function (a, b, c) {
                    hideLoading('#panel-form');
                    showNotification('danger', 'fa fa-bolt fa-2x', 'floating', '', b + ': ' + c);
                },
                success: function (data) {
                    if (data.success) {
                        window.location.href = '@Url.Action("Check", "Contributor")';
                    }
                }
            });
        }

        function disableFields() {
            $('#Code').attr('readonly', true);
            $('#Name').attr('readonly', true);
            $('#BusinessName').attr('readonly', true);
            $('#Email').attr('readonly', true);
        }

        $('.btn-save').click(function () {
            var form = $('#add-software-form');
            if (form.valid()) {
                showLoading('#panel-form', 'Guardando', 'Porcesando datos, por favor espere.');
                form.submit();
            }
        });
</script>
}