@model Gosocket.Dian.Web.Models.FreeBiller.UserFiltersFreeBillerModel
@using System
<style>
    .fa-download {
        color: #348441;
        font-size: 125%;
    }

    .radian-subtitle-line {
        margin-bottom: 10px;
    }
</style>

<div class="row result-users" style="margin: 0 !important; width: 100%;">
    <div class="radian-subtitle-container">
        <p class="subtitle-view" style="margin-bottom: 15px;">
            Resultados de búsqueda
        </p>
        
    </div>

    <div class="table-responsive padding-bottom-15">

        <table colspan="12" class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
            <thead>
                <tr>
                    <th class="text-left">Tipo de documento</th>
                    <th>N&uacute;mero de documento</th>
                    <th class="text-left">Nombre y apellido</th>
                    <th class="text-left">Correo electrónico</th>
                    <th class="text-left">Perfil</th>
                    <th>&Uacute;ltima Modificaci&oacute;n</th>
                    <th colspan="3">Acciones</th>
                </tr>

            </thead>

            <tbody>

                @if (Model.UserContainer.Users.Count == 0)
                {
                    <tr style="background-color: transparent !important;">
                        <td class="text-nowrap text-center" colspan="13" style="padding-left: 0 !important; padding-right: 0 !important;">
                            <div class="alert dataTables_empty">
                                Ningún usuario disponible para mostrar.
                            </div>
                        </td>
                    </tr>
                }
                @foreach (var user in Model.UserContainer.Users)
                {

            <tr class="document-row">
                <td class="text-nowrap text-left padding-top-0 padding-bottom-0">
                    <a>@user.DescriptionTypeDoc</a>
                </td>
                <td class="text-nowrap text-center padding-top-0 padding-bottom-0">
                    <a>@user.NumberDoc</a>
                </td>
                <td class="text-left text-nowrap padding-top-0 padding-bottom-0">
                    @user.FullName
                </td>
                <td class="text-nowrap text-left padding-top-0 padding-bottom-0">
                    @user.Email
                </td>
                <td class="text-nowrap text-left padding-top-0 padding-bottom-0">
                    @Html.Raw(HttpUtility.HtmlDecode(user.DescriptionProfile))
                </td>
                <td class="text-center padding-top-0 padding-bottom-0">
                    @user.LastUpdate
                </td>
                <td class="text-nowrap padding-top-0 padding-bottom-0 view-details-user">
                    @Html.ActionLink("Ver detalles", "EditOrViewFreeBillerUser",
                        new { controller = "FreeBiller", id = user.Id, isEdit = false },
                        new { @class = "btn-link isActive-" + user.IsActive })
                </td>
                <td class="padding-top-0 padding-bottom-0">
                    @{
                        string isActive = Convert.ToString(user.IsActive);
                    }
                    <a href="@Url.Action("EditOrViewFreeBillerUser","FreeBiller", new { user.Id })" class="isActive-@isActive" id="@user.Id">
                        <img src="@Url.Content("~/Content/images/Svg/edti.svg")" />
                    </a>
                </td>
                <td class="text-nowrap padding-top-0 padding-bottom-0">
                    <label class="switch">
                        <input type="checkbox" id="@user.Id@user.NumberDoc" onclick="activo(this, '@user.Id@user.NumberDoc', '@user.Id')">
                        <span class="slider"></span>
                    </label>
                </td>
            </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row margin-horizontal-0">
        <div class="col-md-9 table-toolbar-left padding-left-0">
            <span>Mostrando @(Model.UserContainer.TotalCount < Model.PageSize ?  Model.UserContainer.TotalCount : 10) de @Model.UserContainer.TotalCount resultados</span>
        </div>
        <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
            @if (Model.UserContainer.Users.Count > 0)
            {
                <span class="text-muted">
                    <strong>@((Model.Page - 1) * Model.PageSize + 1)-@(Model.PageSize > Model.UserContainer.Users.Count ? (Model.Page - 1) * Model.PageSize + Model.UserContainer.Users.Count : (Model.Page) * Model.PageSize)</strong>
                </span>
                <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                    <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 1 ? "disabled=\"disabled\"" : "")>
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="btn btn-default paginate-btn next-page" @(Model.UserContainer.Users.Count < Model.PageSize ? "disabled=\"disabled\"" : "")>
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
            }
        </div>
    </div>

</div>

