
@model Gosocket.Dian.Web.Models.RequestAuthorizationBigContributorTableViewModel

@{
    ViewBag.Title = "Listado de Solicitudes de Recepción de Documentos Por Lote - Modo Asíncrono";
}

@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };}
<div class="page-content margin-15">
    <div class="row margin-horizontal-0">

        <div class="panel" style="background: transparent;">
            <div class="panel-body padding-top-20">

                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("ReviewRequests", "BigContributor", FormMethod.Post, new { id = "review-requests-form" }))
                        {
                            @Html.HiddenFor(m => m.Page)
                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">
                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian" style="box-shadow: none;">

                                        <div class="panel-body padding-20 padding-bottom-0">
                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.ContributorCode, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.ContributorCode, defaultHtmlAttr)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-left" style="padding:20px;">
                                            <button type="button" class="btn btn-radian-success btn-hover-gosocket btn-search">Buscar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row margin-horizontal-0">
                                <div class="col-md-9 table-toolbar-left padding-left-0">
                                </div>
                                <!--<div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
                                    @if (Model.Requests.Count > 0)
                                    {
                                        <span class="text-muted">
                                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Requests.Count ? (Model.Page) * Model.Length + Model.Requests.Count : (Model.Page + 1) * Model.Length)</strong>
                                        </span>
                                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-left"></span>
                                            </a>
                                            <a class="btn btn-default paginate-btn next-page" @(Model.Requests.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-right"></span>
                                            </a>
                                        </div>
                                    }
                                </div>-->
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("_authorizationrequests")

                @if (!Model.Requests.Any())
                {
                    <div class="alert dataTables_empty text-center contributor-alert">
                        Ningún resultado disponible para mostrar.
                    </div>
                }

                <!--<div class="pull-right table-pagination padding-top-10">
                    @if (Model.Requests.Any())
                    {
                        <span class="text-muted">
                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Requests.Count ? (Model.Page) * Model.Length + Model.Requests.Count : (Model.Page + 1) * Model.Length)</strong>
                        </span>
                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-left"></span>
                            </a>
                            <a class="btn btn-default paginate-btn next-page" @(Model.Requests.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    }
                </div>-->

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var form = $('#review-requests-form');
            $("#ContributorCode").focus();

            if (@Model.Requests.Count == 0) {
                $('.table-responsive').css('display', 'none');
            }

            $('#ContributorCode').keyup(function (event) {
                event.preventDefault();
                if (event.which === 13)
                    if (form.valid()) {
                        $('#Page').val(0);
                        form.submit();
                    }
            });

            $('.btn-search').click(function () {
                if (form.valid()) {
                    $('#Page').val(0);
                    showLoading('#panel-form', 'Cargando', 'Buscando datos, por favor espere.');
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                    $('.table-pagination').css('display', 'none');
                    $('.table-responsive').css('display', 'none');
                    form.submit();
                }
            });

            // Pagination
            $('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
                form.submit();
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
                form.submit();
            });
            // Pagination
        });

        $(document).on('mouseenter', ".iffyTip", function () {
            var $this = $(this);
            if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
                $this.tooltip({
                    title: $this.text(),
                    placement: "top",
                    container: "body"
                });
                $this.tooltip('show');
            }
        });
    </script>
}