@using Gosocket.Dian.Web.Models
@model UserLoginViewModel

<div class="bhoechie-tab-content active">
    <span class="sub-title">Iniciar sesión</span>
    <p class="mt-28">Por favor diligencia los siguientes datos:</p>

    <form method="post" action="@Url.Action("Login","User")" style="margin-top: 20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.RecaptchaToken, new { id = "AdminRecaptchaToken", @class = "RecaptchaToken" })
        <div class="form-group">
            @Html.LabelFor(t => t.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Escribe aquí el correo", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })
        </div>
        <div class="form-group">
            @Html.LabelFor(t => t.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Ingrese la contraseña", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
            @Html.ValidationMessageFor(m => m.AdminLoginFailed, "", new { @class = "" })
        </div>
        @*<div class="g-recaptcha" data-sitekey="@ConfigurationManager.GetValue("Recaptcha")"></div>*@
        <button class="btn btn-primary" style="margin-top: 40px;">
            Entrar
        </button>
    </form>
</div>