@model Gosocket.Dian.Web.Models.RecoverPasswordModel

@{
    ViewBag.title = "Recuperar contraseña";
}

<div class="page-content">
    <div class="title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
    
    </div>
    <div class="margin-horizontal-0 margin-top-50">
        <div class="panel" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">
            <div class="padding-20">
                <div class="pad-btm padding-bottom-0">
                    <div class="margin-horizontal-0">
                        @using (Html.BeginForm("RecoveryPassword", "User", FormMethod.Post, new { id = "forgot-pasword-form" }))
                        {
                            <div class="row">
                                <div class="form-group ">
                                    @Html.LabelFor(m => m.CompanyIdentificationTypeRecover, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.CompanyIdentificationTypeRecover, new SelectList(Model.IdentificationTypesRecover, "Id", "Description", Model.CompanyIdentificationTypeRecover), new { id = "CompanyIdentificationTypeRecover", @class = "form-control selectpicker" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DocumentNumber, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.DocumentNumber, new { @class = "form-control", placeholder = "Documento registrado", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.DocumentNumber, "", new { @class = "text-dangert" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailRemember, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.EmailRemember, new { @class = "form-control", placeholder = "Correo registrado", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.EmailRemember, "", new { @class = "text-dangert" })
                                </div>
                            </div>
                            <div class="text-center submit-container">
                                <button id="submitRememberPassword" class="btn btn-primary btn-success btn-radian-success">Recuperar contraseña</button>
                                <button id="btnCancel" class="btn btn-secondary btn-success btn-radian-default">Cancelar</button>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>