@using Gosocket.Dian.Web.Models
@model UserLoginViewModel

<div class="bhoechie-tab-content active">
    <span class="sub-title">Iniciar sesión</span>
    <p class="mt-28">Por favor diligencia los siguientes datos:</p>

    <form method="post" action="@Url.Action("PersonAuthentication","User")" style="margin-top: 20px;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.RecaptchaToken, new { id = "PersonRecaptchaToken", @class = "RecaptchaToken" })
        <div class="form-group">
            @Html.LabelFor(t => t.IdentificationType, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.IdentificationType, new SelectList(Model.IdentificationTypes, "Id", "Description", Model.IdentificationType), new { id = "PersonIdentificationType", @class = "form-control selectpicker" })
        </div>
        <div class="form-group">
            @Html.LabelFor(t => t.PersonCode, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PersonCode, new { @class = "form-control", placeholder = "Ingrese la identificación del contribuyente", autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.PersonCode, "", new { @class = "" })
            @Html.ValidationMessageFor(m => m.PersonLoginFailed, "", new { @class = "" })
        </div>

        <button class="btn btn-primary" style="margin-top: 40px;">
            Entrar
        </button>
    </form>

</div>