
@model Gosocket.Dian.Web.Models.UserChangePasswordViewModel

@{
    ViewBag.Title = "Cambiar contraseña";
    var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" } };
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">

                    @if (Model.Succeeded)
                    {
                        <div class="alert custom-alert-success margin-bottom-5 padding-3">
                            <i class="fa fa-info-circle" aria-hidden"true"=""></i> @Html.LabelFor(m => m.SuccessMessage, new { @class = "control-label" })
                        </div>
                    }

                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "change-user-password-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="panel-body padding-20 padding-bottom-10">
                                <div class="row">
                                    <div class="col-sm-4 padding-xs-0">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CurrentPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.CurrentPassword, defaultHtmlAttr)
                                            @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 padding-xs-0">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.NewPassword, defaultHtmlAttr)
                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4 padding-xs-0">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmNewPassowrd, new { @class = "control-label" })
                                            @Html.PasswordFor(m => m.ConfirmNewPassowrd, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ConfirmNewPassowrd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer text-right">
                                <button type="button" class="btn btn-default btn-hover-gosocket btn-save">Cambiar contraseña</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function ($) {
            $('.btn-save').click(function () {
                var form = $('#change-user-password-form');
                if (form.valid()) {
                    showLoading('#panel-form', 'Guardando', 'Procesando datos, por favor espere.');
                    form.submit();
                }
            });
        });

    </script>
}
