@using Gosocket.Dian.Domain.Common
@using Gosocket.Dian.Infrastructure
@using Gosocket.Dian.Web.Models
@model UserLoginViewModel
@{
    ViewBag.Title = "Acceder";
    Layout = "~/Views/Shared/_LayoutNewLogin.cshtml";
}

<div class="login-wrapper">
    <div class="bhoechie-tab-menu">
        <div class="list-group">
            <!-- admin -->
            <a href="@Url.Action("Login", "User")" class="list-group-item text-center">
                <img src="~/Content/img/login-icons/Administrator.svg" /> <br> @Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.Administrator)
            </a>

            <!-- company -->
            <a href="@Url.Action("CompanyLogin", "User")" class="list-group-item text-center">
                <img src="~/Content/img/login-icons/Company.svg" /> <br> @Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.Company)
            </a>

            <!-- external user -->
            @*<a href="@Url.Action("ExternalUserLogin", "User")" class="list-group-item text-center">
                    <h4 class="glyphicon glyphicon-user"></h4><br />@Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.ExternalUser)
                </a>*@

            <!-- person -->
            <a href="#" class="list-group-item text-center active">
                <img src="~/Content/img/login-icons/Person.svg" /> <br> @Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.Person)
            </a>


            <!-- Not obliged to invoice -->
            <a href="@Url.Action("NotObligedInvoice","User")" class="list-group-item text-center">
                <img src="~/Content/img/login-icons/NotObligued.svg" /> <br> @Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.NotObligedInvoice)
            </a>

            <!-- certificate -->
            <a href="#" class="list-group-item text-center certificate-login-link">
                <img src="~/Content/img/login-icons/Certificate.svg" /> <br> @Gosocket.Dian.Domain.Common.EnumHelper.GetEnumDescription(LoginType.Certificate)
            </a>

            <a href="@Url.Action("SearchDocument", "User")" class="list-group-item text-center">
                <img src="~/Content/img/login-icons/SearchDocument.svg" /> <br> Buscar Documento
            </a>
        </div>
    </div>
    <div class="bhoechie-tab">
        <!-- person section -->
        @Html.Partial("_personLogin")
    </div>
</div>

@section Scripts
        {
    <script src="https://www.google.com/recaptcha/api.js?render=@ConfigurationManager.GetValue("Recaptcha")"></script>

    <script>

                $(document).ready(function () {

                    $('.certificate-login-link').click(function () {
                        window.location = '@ConfigurationManager.GetValue("CertificateLoginUrl")';
                    });

                    $('.list-group-item').click(function () {
                        cleanFields();
                    });

                    var cleanFields = function () {
                        $('.field-validation-error').html('');
                        $('#DocumentKey').val('');
                        $('#PersonCode').val('');
                        $('#CompanyCode').val('');
                        $('#UserCode').val('');
                    };
                    grecaptcha.ready(function () {
                        grecaptcha.execute('@ConfigurationManager.GetValue("Recaptcha")', { action: 'adminLogin' }).then(function (token) {
                            $(".RecaptchaToken").val(token);
                        });
                    });
                });

    </script>
}
