@model Gosocket.Dian.Web.Models.SummaryEventsViewModel

<style>
    /* Acuse de Recibo de Factura Electrónica */

    th {
        font-size: 16px;
    }

    td {
        font-size: 14px;
    }

    .eventTittle {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        color: #2C323C;
    }

    .cerrar {
        color: #aaa;
        float: right;
        font-size: 19px;
        font-weight: bolder;
        width: 19px;
        text-align: center;
    }

    .redondear {
        border-radius: 52% 48% 49% 51% / 53% 49% 51% 47%;
        background-color: forestgreen;
    }

    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .ContainerDownload {
        margin-top: 15px;
        margin-bottom: 15px;
        font-style: normal;
        font-size: 14px;
        line-height: 14px;
        color: #348441;
        cursor: pointer;
    }

    .titlecs {
        /* Acuse de Recibo de Factura Electrónica */
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 23px;
        /* identical to box height */
        color: #2C323C;
    }

    .titlecs-new {
        font-size: 18px;
    }

    .titleSecondary {
        /* Validaciones del Evento */
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #2C323C;
    }

    h5 {
        /* Datos del Emisor del evento */
        font-family: Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */
        color: #2C323C;
    }

    .p-event-issuer {
        font-size: 14px;
    }

    span {
        /* Datos del Emisor del evento */
        font-family: Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        /* identical to box height */
        color: #2C323C;
    }

    .rowSpace {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .close-button-acuse {
        color: #348441 !important;
        font-size: 28px;
        cursor: pointer;
    }

    .padding-panel {
        padding-bottom: 12px;
    }

    .underline-title {
        width: calc(34% + 5%) !important;
    }

    .radian-subtitle-line {
        width: 100%;
        margin-left: 0px !important;
    }

    .tab-content .panel {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 70px;
    }

    .panel-event {
        border-left-width: 20px;
        border-right-width: 20px;
        border-top-width: 20px;
        border-bottom-width: 20px;
    }

    i.fa-info-circle {
        color: #348441 !important;
        padding-right: 3px;
    }

    .green-text-color {
        color: #348441;
    }

    .th-left-align {
        text-align: left !important;
    }

    .second-section-align {
        margin-left: 12px;
        margin-top: 37px;
    }

    .btn-link-download {
        padding-left: 0px;
        padding-top: 2px;
        text-decoration: underline;
        color: #348441;
        font-size: 18px;
    }
</style>

<link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />

<div class="event-section page-content radian-view margin-15">

    <div id="divChildrenModifyWrapper" class="row margin-horizontal-0">
        <div class="panel panel-event margin-top-0" id="panel-form_1" data-target="#panel-form_1" data-toggle="panel-form_1">
            <div class="panel-heading padding-15">
                <div class="row">
                    <div class="col-sm-12 text-right right-section">
                        <i class="fa fa-times-circle close-button-acuse" onclick="darClick()"></i>
                    </div>
                </div>
            </div>
            <div class="panel-body padding-top-20">
                <div class="row cude-section">
                    <div class="col-md-3" style="padding-left: 0;padding-top:7px;">
                        <img class="img-responsive" style="max-height: 130px;" src="~/Content/img/LogoDian.png">
                    </div>
                    <div class="col-sm-5 left-section">
                        <span>CUDE:</span>
                        <span class="cude-text">@Model.CUDE</span>
                    </div>
                    <div class="col-sm-4 text-right right-section">
                        <span class="tipo-doc"><b>@Model.Title</b></span>
                        <span>Prefijo: @Model.Prefix </span>
                        <span>Número: @Model.Number</span>
                        <span>Fecha de emisión del evento: @Model.DateOfIssue.ToString("yyyy-MM-dd")</span>
                    </div>
                </div>
                <div class="left-section ContainerDownload">
                    <p>
                        <i class="fa fa-download"></i>
                        <um>
                            <button id="show-graphic-document" class="btn btn-link btn-link-download" onclick="DescargarDoc('@Model.CUDE','@Model.DateOfIssue.ToString("yyyy-MM-dd")')">Descarga</button>
                        </um>
                    </p>
                </div>
                <div class="row aditional-data-section padding-panel">
                    <div class="col-sm-4">
                        <h5><strong>DATOS DEL EMISOR DEL EVENTO </strong></h5>
                        <p class="p-event-issuer">NIT: @Model.SenderCode</p>
                        <p class="p-event-issuer">Nombre: @Model.SenderName</p>
                    </div>
                    <div class="col-sm-4">
                        <h5><strong>DATOS DEL RECEPTOR DEL EVENTO </strong></h5>
                        <p class="p-event-issuer">NIT: @Model.ReceiverCode</p>
                        <p class="p-event-issuer">Nombre: @Model.ReceiverName</p>
                    </div>
                    <div class="col-sm-4">
                        @if (Model.EventStatus == Gosocket.Dian.Domain.Common.EventStatus.Mandato)
                        {
                            <h5>Datos del Mandato </h5>
                            <span>NIT: @Model.Mandate.TechProviderCode</span>
                            <span>MANDATARIO: @Model.Mandate.TechProviderName</span>
                            <span>NIT: @Model.Mandate.SenderCode</span>
                            <span>MANDANTE: @Model.Mandate.SenderName</span>

                            <div class="row aditional-data-section">
                                <div class="col-sm-6 second-section">
                                    <h5>Fecha del contrato</h5>
                                    <span>@Model.Mandate.ContractDate</span>
                                </div>
                            </div>
                        }
                        @*@if (Model.EventStatus == Gosocket.Dian.Domain.Common.EventStatus.SolicitudDisponibilizacion)
                        {
                            <h5>Tipo de Solicitud de Disponibilización </h5>
                            <span>@Model.RequestType</span>
                        }*@

                        @if (Model.EventStatus == Gosocket.Dian.Domain.Common.EventStatus.EndosoGarantia ||
                             Model.EventStatus == Gosocket.Dian.Domain.Common.EventStatus.EndosoProcuracion)
                        {
                            <h5><strong>DATOS DEL ENDOSO</strong></h5>
                            <span>NIT: @Model.Endoso.ReceiverCode</span>
                            <span>ENDOSATARIO: @Model.Endoso.ReceiverName</span>
                            <span>NIT: @Model.Endoso.SenderCode</span>
                            <span>ENDOSANTE: @Model.Endoso.SenderName</span>

                        }

                        @if (Model.EventStatus == Gosocket.Dian.Domain.Common.EventStatus.EndosoPropiedad)
                        {
                            <h5><strong>DATOS DEL ENDOSO</strong></h5>
                            <span>NIT: @Model.ReceiverCode</span>
                            <span>ENDOSATARIO: @Model.ReceiverName</span>
                            <span>NIT: @Model.SenderCode</span>
                            <span>ENDOSANTE: @Model.SenderName</span>

                            <div class="row">
                                <div class="second-section-align">
                                    <h5><strong>TIPO DE ENDOSO </strong></h5>
                                    <span>@Model.Endoso.EndosoType</span>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row radian-subtitle-line"></div>
                </div>

                @*Validaciones*@
                <div class="rowSpace padding-panel">
                    <div class="row radian-subtitle-container radian-certificates">
                        <div class="col-sm-10">
                            <p class="titleSecondary">
                                @Model.ValidationTitle
                            </p>
                        </div>
                    </div>
                    <div class="row radian-subtitle-line"></div>
                    <div>
                        @if (Model.Validations.Count == 0)
                        {
                            <h6 class="margin-top-10"><i class="fa fa-check-circle fa-fw"></i> @Model.ValidationMessage </h6>
                        }
                        else
                        {
                            <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
                                <thead>
                                    <tr>
                                        <th class="th-left-align">Nombre</th>
                                        <th class="text-right right-section">Resultado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Validations)
                                    {
                                        <tr>
                                            <td class="text-left">@item.RuleName</td>
                                            <td class="text-right right-section">
                                                <p class="underline-reject-text">
                                                    <span class="green-text-color" data-placement="left" data-toggle="popover" data-trigger="hover" title="@item.Status" data-content="@item.Message" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><div class="icon-alert"><i class="fa fa-exclamation-circle"></i></div><div class="popover-body">@item.Message</div></div>'>
                                                        <i class="fa fa-info-circle"></i>@item.Status
                                                    </span>

                                                </p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

                @*referencias*@
                <div class="rowSpace">
                    <div class="row radian-subtitle-container radian-certificates">
                        <div class="col-sm-10">
                            <p class="titleSecondary">
                                @Model.ReferenceTitle
                            </p>
                        </div>
                    </div>
                    <div class="row radian-subtitle-line "></div>

                    <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
                        <thead>
                            <tr>
                                <th class="text-left">Tipo de documento</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">NIT del Emisor</th>
                                <th class="text-center">Emisor</th>
                                <th class="text-center">NIT del Receptor</th>
                                <th class="text-center">Receptor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.References)
                            {
                                <tr>
                                    <td class="text-left">@item.Document</td>
                                    <td class="text-center" style="width: 100px;">@item.DateOfIssue.ToString("yyyy-MM-dd")</td>
                                    <td class="text-center">@item.Description</td>
                                    <td class="text-center">@item.SenderCode</td>
                                    <td class="text-center">@item.SenderName</td>
                                    <td class="text-center">@item.ReceiverCode</td>
                                    <td class="text-center">@item.ReceiverName</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*Eventos asociados*@
                @if (Model.AssociatedEvents.Count > 0)
                {
                    <div class="rowSpace">
                        <div class="row radian-subtitle-container">
                            <div class="col-sm-10">
                                <p class="titleSecondary">
                                    @Model.EventTitle;
                                </p>
                            </div>
                        </div>
                        <div class="row radian-subtitle-line"></div>

                        <table class="documents-table table table-striped align-middle margin-bottom-0" data-int="0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fecha de Emisión</th>
                                    <th>Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.AssociatedEvents)
                                {
                                    <tr>
                                        <td>@item.Document</td>
                                        <td>@item.EventDate.ToString("yyyy-MM-dd")</td>
                                        <td>Validado</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

