@{
    ViewBag.Title = "Habilitar Participantes";
}
@*<link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />*@

<div class="page-content radian-view margin-20">
   
    <div class="container-fluid RadianContainerBegin" id="panel-form" data-target="#panel-form" data-toggle="panel-overlay">

        <p class="sub-title">Seleccione el tipo de participante:</p>
        <hr>

        <div class="hab-menu-container">
            <button class="hab-menu-button" id="1" contributorType="1" operationMode="0">
                <img src="~/Content/img/electronic-document-icons/factura-electronica-icon.svg" height="130" />
                Facturador Electrónico
                <p class="hab-menu-button-subtitle">Registro de Facturas Electrónicas</p>
            </button>

            <button class="hab-menu-button" id="2" contributorType="2" operationMode="1">
                <img src="~/Content/img/electronic-document-icons/nomina-proveedor-servicios-tecnologicos.svg" height="130" />
                Proveedor Tecnológico
                <p class="hab-menu-button-subtitle">Registro de Facturas Electrónicas</p>
            </button>

            <button class="hab-menu-button" id="3" contributorType="3" operationMode="1">
                <img src="~/Content/img/electronic-document-icons/documento-soporte-icon.svg" height="130" />
                Sistema de negociación
                <p class="hab-menu-button-subtitle">Registro de Facturas Electrónicas</p>
            </button>
            
            <button class="hab-menu-button" id="4" contributorType="4" operationMode="1">
                <img src="~/Content/img/electronic-document-icons/nomina-electronica-icon.svg" height="130" />
                Factor
                <p class="hab-menu-button-subtitle">Registro de Facturas Electrónicas</p>
            </button>
        </div>
    </div>
</div>

    @section scripts
{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Content/js/Radian/RadianIndex.js"></script>

    <script>
        var existingModes = ['@ViewBag.ElectronicInvoice_RadianContributorTypeId', '@ViewBag.TechnologyProvider_RadianContributorTypeId', '@ViewBag.TradingSystem_RadianContributorTypeId', '@ViewBag.Factor_RadianContributorTypeId'];
        var contributorId = '@ViewBag.ContributorId';
        var operationClick = false;

        Array.prototype.clean = function (deleteValue) {
            for (var i = 0, j = this.length; i < j; i++) {
                if (this[i] == deleteValue) {
                    this.splice(i, 1);
                    i--;
                }
            }
            return this;
        };

        $('.hab-menu-button').click(function () {
            showLoading('#panel-form', 'Cargando', 'Procesando datos, por favor espere.');
            existingModes.clean("");
            if ($(this).attr('operationMode') === "1" && !existingModes.includes($(this).attr('contributorType')))
            {
                if (!operationClick) {
                    operationClick = true;

                    var RegistrationDataViewModel = {
                        ContributorId: '@ViewBag.ContributorId',
                        RadianContributorType: $(this).attr('contributorType'),
                        RadianOperationMode: $(this).attr('operationMode'),
                    };

                    CallExecution("POST", '@Url.Action("RegistrationValidation", "Radian")', RegistrationDataViewModel,
                        function (param) {
                            CallExecution("POST", '@Url.Action("Add", "RadianApproved")', RegistrationDataViewModel,
                                function (param) {
                                    var url = "@Url.Action("Index", "RadianApproved")" + "?ContributorId=" + param.ContributorId + "&RadianContributorType=" + param.RadianContributorType + "&RadianOperationMode=" + param.RadianOperationMode;
                                    window.location.href = url;
                                }, false, () => hideLoading('#panel-form')
                            );
                        }, true, () => hideLoading('#panel-form')
                    );
                }
            }
            else {
                    var url = "@Url.Action("Index", "RadianApproved")";
                var complement = "";
                if (!existingModes.includes($(this).attr('contributorType')))
                    url = '@Url.Action("ElectronicInvoiceView", "Radian")';
                else 
                    complement = getComplement($(this).attr('contributorType'));
                window.location.href = url + complement;
            }
        });

        function getComplement(option){
              var complement="";
              switch (option)
              {
                    case "1":
                        complement = "?ContributorId=" + '@ViewBag.ContributorId' + "&RadianContributorType=" + '@ViewBag.ElectronicInvoice_RadianContributorTypeId' + "&RadianOperationMode=" + '@ViewBag.ElectronicInvoice_RadianOperationModeId';
                        break;
                    case "2":
                        complement = "?ContributorId=" + '@ViewBag.ContributorId' + "&RadianContributorType=" + '@ViewBag.TechnologyProvider_RadianContributorTypeId' + "&RadianOperationMode=" + '@ViewBag.TechnologyProvider_RadianOperationModeId';
                        break;
                    case "3":
                        complement = "?ContributorId=" + '@ViewBag.ContributorId' + "&RadianContributorType=" + '@ViewBag.TradingSystem_RadianContributorTypeId' + "&RadianOperationMode=" + '@ViewBag.TradingSystem_RadianOperationModeId';
                        break;
                    case "4":
                        complement = "?ContributorId=" + '@ViewBag.ContributorId' + "&RadianContributorType=" + '@ViewBag.Factor_RadianContributorTypeId' + "&RadianOperationMode=" + '@ViewBag.Factor_RadianOperationModeId';
                        break;
              };
              return complement;
        }

        

        </script>

    }
