@model Gosocket.Dian.Web.Models.RadianTestSetViewModel
@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control input-general fields captureFields" } };}


<div class="row">
    <h4 class="sub-title padding-0"><strong>Modo de Operación</strong></h4>
    
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.Label("Seleccione el modo de operación", new { @class = "control-label claseLabel" })
            @Html.DropDownListFor(m => m.OperationModeId, new SelectList(Model.OperationModes, "Id", "Name", Model.OperationModeId), new { @class = "form-control input-general" })
        </div>
    </div>
    <div class="col-sm-3 padding-xs-0">
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label claseLabel" })
            @Html.TextBoxFor(m => m.Description, defaultHtmlAttr)
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="docRequired">
    <div class="row">
        <h4 class="sub-title padding-0"><strong>Total de documentos requeridos</strong></h4>

        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                <div class="">
                    @Html.LabelFor(m => m.TotalDocumentRequired, new { @class = "control-label claseLabel" })
                </div>
                @Html.TextBoxFor(m => m.TotalDocumentRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.TotalDocumentRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                <div class="">
                    @Html.LabelFor(m => m.ReceiptNoticeTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReceiptNoticeTotalRequired).ToString()) })
                </div>
                @Html.TextBoxFor(m => m.ReceiptNoticeTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReceiptNoticeTotalRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0 ">
            <div class="form-group">
                <div class="">
                    @Html.LabelFor(m => m.ReceiptServiceTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReceiptServiceTotalRequired).ToString()) })
                </div>
                @Html.TextBoxFor(m => m.ReceiptServiceTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReceiptServiceTotalRequired, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                <div class="">
                    @Html.LabelFor(m => m.ExpressAcceptanceTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ExpressAcceptanceTotalRequired).ToString()) })
                </div>
                @Html.TextBoxFor(m => m.ExpressAcceptanceTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ExpressAcceptanceTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group ">
                <div class="">
                    @Html.LabelFor(m => m.AutomaticAcceptanceTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.AutomaticAcceptanceTotalRequired).ToString()) })
                </div>
                @Html.TextBoxFor(m => m.AutomaticAcceptanceTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.AutomaticAcceptanceTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                <div class="">
                    @Html.LabelFor(m => m.RejectInvoiceTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.RejectInvoiceTotalRequired).ToString()) })
                </div>
                @Html.TextBoxFor(m => m.RejectInvoiceTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.RejectInvoiceTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.GuaranteeTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.GuaranteeTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.GuaranteeTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.GuaranteeTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ElectronicMandateTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ElectronicMandateTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.ElectronicMandateTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ElectronicMandateTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndMandateTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndMandateTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndMandateTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndMandateTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                <div>
                    @Html.LabelFor(m => m.EndorsementCancellationTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementCancellationTotalRequired).ToString()) })
                    @Html.TextBoxFor(m => m.EndorsementCancellationTotalRequired, defaultHtmlAttr)
                    @Html.ValidationMessageFor(m => m.EndorsementCancellationTotalRequired, "", new { @class = "control-label" })
                </div>
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.PaymentNotificationTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.PaymentNotificationTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.PaymentNotificationTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.PaymentNotificationTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>

    </div>

    <div class="row">

    </div>

    <div class="row">
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.CirculationLimitationTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.CirculationLimitationTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.CirculationLimitationTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.CirculationLimitationTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementGuaranteeTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementGuaranteeTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementGuaranteeTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementGuaranteeTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementProcurementTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementProcurementTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementProcurementTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementProcurementTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndCirculationLimitationTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndCirculationLimitationTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndCirculationLimitationTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndCirculationLimitationTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ApplicationAvailableTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ApplicationAvailableTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.ApplicationAvailableTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ApplicationAvailableTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ReportForPaymentTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReportForPaymentTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.ReportForPaymentTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReportForPaymentTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ObjectionTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ObjectionTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.ObjectionTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ObjectionTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.TransferEconomicRightsTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.TransferEconomicRightsTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.TransferEconomicRightsTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.TransferEconomicRightsTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.PaymentOfTransferEconomicRightsTotalRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.PaymentOfTransferEconomicRightsTotalRequired).ToString()) })
                @Html.TextBoxFor(m => m.PaymentOfTransferEconomicRightsTotalRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.PaymentOfTransferEconomicRightsTotalRequired, "", new { @class = "control-label" })
            </div>
        </div>
    </div>
</div>

<div class="docAcepted">
    <div class="row">
        <h4 class="sub-title padding-0"><strong>Total de documentos aceptados requeridos</strong></h4>

        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.TotalDocumentAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.TotalDocumentAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.TotalDocumentAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.TotalDocumentAcceptedRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ReceiptNoticeTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReceiptNoticeTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ReceiptNoticeTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReceiptNoticeTotalAcceptedRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ReceiptServiceTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReceiptServiceTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ReceiptServiceTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReceiptServiceTotalAcceptedRequired, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ExpressAcceptanceTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ExpressAcceptanceTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ExpressAcceptanceTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ExpressAcceptanceTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.AutomaticAcceptanceTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.AutomaticAcceptanceTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.AutomaticAcceptanceTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.AutomaticAcceptanceTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.RejectInvoiceTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.RejectInvoiceTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.RejectInvoiceTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.RejectInvoiceTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.GuaranteeTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.GuaranteeTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.GuaranteeTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.GuaranteeTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ElectronicMandateTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ElectronicMandateTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ElectronicMandateTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ElectronicMandateTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndMandateTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndMandateTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndMandateTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndMandateTotalAcceptedRequired, "", new { @class = "control-label" })

            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementCancellationTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementCancellationTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementCancellationTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementCancellationTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.PaymentNotificationTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.PaymentNotificationTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.PaymentNotificationTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.PaymentNotificationTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.CirculationLimitationTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.CirculationLimitationTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.CirculationLimitationTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.CirculationLimitationTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementGuaranteeTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementGuaranteeTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementGuaranteeTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementGuaranteeTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementProcurementTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementProcurementTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementProcurementTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementProcurementTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndCirculationLimitationTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndCirculationLimitationTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndCirculationLimitationTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndCirculationLimitationTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ApplicationAvailableTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ApplicationAvailableTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ApplicationAvailableTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ApplicationAvailableTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-3 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ReportForPaymentTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ReportForPaymentTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ReportForPaymentTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ReportForPaymentTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="row">
        

    </div>
    <div class="row">


       
    </div>
    <div class="row">
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.EndorsementWithEffectOrdinaryAssignmentTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.ObjectionTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.ObjectionTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.ObjectionTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.ObjectionTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.TransferEconomicRightsTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.TransferEconomicRightsTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.TransferEconomicRightsTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.TransferEconomicRightsTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.NotificationDebtorOfTransferEconomicRightsTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.PaymentOfTransferEconomicRightsTotalAcceptedRequired, new { @class = "control-label claseLabel", @title = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.PaymentOfTransferEconomicRightsTotalAcceptedRequired).ToString()) })
                @Html.TextBoxFor(m => m.PaymentOfTransferEconomicRightsTotalAcceptedRequired, defaultHtmlAttr)
                @Html.ValidationMessageFor(m => m.PaymentOfTransferEconomicRightsTotalAcceptedRequired, "", new { @class = "control-label" })
            </div>
        </div>
    </div>
</div>



