
@model Gosocket.Dian.Web.Models.ContingencyTableViewModel

<div id="table-contingencies" class="table-responsive" data-target="#table-contingencies" data-toggle="panel-overlay">
    <table class="simple-table documents-table table table-striped table-hover align-middle margin-bottom-0" data-int="0">
        <thead>
            <tr>
                <th class="text-center" nowrap>Estado</th>
                <th class="text-left">Fecha inicio</th>
                <th class="text-left">Fecha termino</th>
                <th>Motivo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.Contingencies.OrderByDescending(c => c.EndDateNumber))
            {
                <tr>
                    <td class="text-center">
                        <i id="status" class="fa @(c.Active ? "fa-play text-gosocket" : "fa-pause") fa-1"></i> @(c.Active ? "Activada" : "Desactivada")
                        <input class=".active" type="hidden" value="@c.Active" />
                    </td>
                    <td class="text-left text-nowrap"><a>@c.StartDateString</a></td>
                    <td class="text-left text-nowrap"><a>@c.EndDateString</a></td>
                    <td class="text-nowrap"><a>@c.Reason</a></td>
                    <td class="text-center">
                        <a href="@Url.Action("ChangeStatusContingency","Settings", new {pk = c.PartitionKey, rk = c.RowKey })" class="btn btn-xs add-tooltip" data-toggle="tooltip" data-original-title="@(c.Active ? "Desactivar" : "Activar")"><i class="fa @(c.Active ? "fa-pause" : "fa-play") fa-1"></i></a>
                        <a href="@Url.Action("EditContingency","Settings", new {pk = c.PartitionKey, rk = c.RowKey })" class="btn btn-xs add-tooltip" data-toggle="tooltip" data-original-title="Editar"><i class="fa fa-pencil"></i></a>
                        <button class="btn btn-xs add-tooltip" data-pk="@c.PartitionKey" data-rk="@c.RowKey" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-trash fa-1"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>