
@model Gosocket.Dian.Web.Models.ContingencyTableViewModel
@using Gosocket.Dian.Domain.Common

@{

    ViewBag.Title = "Listado de Contingencias";
    var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control" }};
}

<div class="page-content margin-15">
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="form-inline padding-bottom-10">
                    <div class="row margin-horizontal-0">

                        <div class="col-sm-12 table-toolbar-left padding-left-0" style="padding: 5px 20px !important;">
                            <a href="@Url.Action("AddContingency", "Settings")" class="btn btn-success btn-radian-success">Agregar</a>
                        </div>
                    </div>
                    
                </div>

                <div class="pad-btm padding-bottom-0">
                    <div class="row margin-horizontal-0">
                        @using (Html.BeginForm("Contingencies", "Settings", FormMethod.Post, new { id = "contingencies-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Page)
                            <div class="row margin-horizontal-0 margin-bottom-10" style="margin-left:5px; margin-right:5px;">
                                <div class="col-md-12 padding-horizontal-0">
                                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian">

                                        <div class="panel-body padding-20 padding-bottom-0">
                                            <div class="row">
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.StartDateString, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.StartDateString, defaultHtmlAttr)
                                                        @Html.ValidationMessageFor(m => m.StartDateString, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 padding-xs-0">
                                                    <div class="form-group">
                                                        @Html.LabelFor(m => m.EndDateString, new { @class = "control-label" })
                                                        @Html.TextBoxFor(m => m.EndDateString, defaultHtmlAttr)
                                                        @Html.ValidationMessageFor(m => m.EndDateString, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-left" style="margin: 0px 20px 0px 20px !important;">
                                            <button type="button" class="btn btn-secondary btn-hover-gosocket btn-search">Buscar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            // Top pagination
                            <div class="row margin-horizontal-0">
                                <div class="col-md-9 table-toolbar-left padding-left-0">
                                </div>
                                <div class="col-md-3 table-toolbar-right padding-right-0 table-pagination">
                                    @if (Model.Contingencies.Count > 0)
                                    {
                                        <span class="text-muted">
                                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Contingencies.Count ? (Model.Page) * Model.Length + Model.Contingencies.Count : (Model.Page + 1) * Model.Length)</strong>
                                        </span>
                                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-left"></span>
                                            </a>
                                            <a class="btn btn-default paginate-btn next-page" @(Model.Contingencies.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                                <span class="fa fa-chevron-right"></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @Html.Partial("_contingencies")

                @if (!Model.Contingencies.Any())
                {
                    <div class="alert dataTables_empty text-center contributor-alert">
                        Ningún resultado disponible para mostrar.
                    </div>
                }

                <div class="pull-right table-pagination padding-top-10">
                    @if (Model.Contingencies.Any())
                    {
                        <span class="text-muted">
                            <strong>@(Model.Page * Model.Length + 1)-@(Model.Length > Model.Contingencies.Count ? (Model.Page) * Model.Length + Model.Contingencies.Count : (Model.Page + 1) * Model.Length)</strong>
                        </span>
                        <div class="btn-group btn-group margin-left-5" style="padding-right: 20px;">
                            <a class="btn btn-default paginate-btn prev-page" @(Model.Page == 0 ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-left"></span>
                            </a>
                            <a class="btn btn-default paginate-btn next-page" @(Model.Contingencies.Count < Model.Length ? "disabled=\"disabled\"" : "")>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>

<form id="delete-contingency" action="@Url.Action("DeleteContingency", "Settings")" method="post" class="hidden">
    <input type="hidden" name="pk" id="pk" />
    <input type="hidden" name="rk" id="rk" />
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var form = $('#contingencies-form');

        $(document).ready(function ($) {

            if (@Model.Contingencies.Count == 0) {
                $('.table-responsive').css('display', 'none');
            }

            $('#StartDateString').datepicker({
                format: 'dd-mm-yyyy',
                language: 'es',
                todayBtn: 'linked',
                autoclose: true,
                todayHighlight: true,
                startDate: '01-05-2019'
            });

            $('#EndDateString').datepicker({
                format: 'dd-mm-yyyy',
                language: 'es',
                todayBtn: 'linked',
                autoclose: true,
                todayHighlight: true,
                startDate: '01-05-2019'
            });

            $('.btn-search').click(function () {
                if (form.valid()) {
                    $('#page').val(0);
                    showLoading('#panel-form', 'Cargando', 'Buscando datos, por favor espere.');
                    $(this).attr('disabled', 'disabled');
                    $(this).html('<i class="fa fa-circle-o-notch fa-spin"></i> Buscando...');
                    $('.table-pagination').css('display', 'none');
                    $('.table-responsive').css('display', 'none');
                    form.submit();
                }
            });

            $('.delete-btn').click('onClick', function () {
                var pk = $(this).attr("data-pk");
                var rk = $(this).attr("data-rk");

                ConfirmDialogV2("Eliminar contingencia",
                    "¿Está seguro que desea eliminar contingencia?",
                    { confirm: "Aceptar", cancel: "Cancelar" },
                    () => {
                        showLoading('#table-contingencies', 'Eliminando', 'Procesando datos, por favor espere.');
                        $("#pk").val(pk);
                        $("#rk").val(rk);
                        $("#delete-contingency").submit();
                    });

                //bootbox.dialog({
                //    message: "Está seguro que desea eliminar contingencia?",
                //    title: "Eliminar contingencia",
                //    buttons: {
                //        del: {
                //            label: "Aceptar",
                //            className: "btn-gosocket",
                //            callback: function () {
                //                showLoading('#table-contingencies', 'Eliminando', 'Procesando datos, por favor espere.');
                //                $("#pk").val(pk);
                //                $("#rk").val(rk);
                //                $("#delete-contingency").submit();
                //            }
                //        },
                //    }
                //});
            });

            // Pagination
            $('.next-page').click(function () {
                $('#Page').val(@Model.Page + 1);
                form.submit();
            });

            $('.prev-page').click(function () {
                $('#Page').val(@Model.Page - 1);
                form.submit();
            });
            // Pagination

        });

    </script>
}
