@model Gosocket.Dian.Web.Models.OthersElectronicDocAssociatedViewModel

@{var defaultHtmlAttr = new Dictionary<string, object> { { "class", "form-control input-general" } };}

@using (Html.BeginForm("", "OthersElectronicDocAssociated", FormMethod.Post, new { id = "radian-contributors-form" }))
{

    @Html.HiddenFor(m => m.PageTable);
    <div class="row margin-15"    >
        <div class="col-sm-5 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.NitSearch, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.NitSearch, defaultHtmlAttr)
            </div>
        </div>
        <div class="col-sm-5 padding-xs-0">
            <div class="form-group">
                @Html.LabelFor(m => m.StateSelect, new { @class = "control-label" })
                @Html.EnumDropDownListFor(m => m.StateSelect, " ", defaultHtmlAttr)
            </div>
        </div>
        <div class="col-sm-2 padding-xs-0 margin-top-20">
            <button id="search-customers" class='btn btn-radian-success search-data'>Buscar</button>
        </div>
    </div>
}

